@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-primaria: #e3261b;
    --cor-secundaria: #f0a956;
    --cor-terciaria: #a1735e;
    --cor-itemdesconto: #00bf63;
    --cor-grey: #f4f4f4;
    --cor-laranja: #d6390d;
    --cor--botao-accept: #276254;
    --cor--botao-reject: #e3261b;
    --font-titulo: 'Poppins', sans-serif;
}

html {
    font-size: 1.4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-titulo);
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
}


.container {
    background-color: #fff;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 90%;
    max-width: 2200px;
}

.h1-sign {
    font-family: var(--font-titulo);
    font-weight: 800;
}


.container p {
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0.3px;
    font-family: var(--font-titulo);
}

.container span {
    font-size: 16px;
}


.container button {
    background-color: var(--cor-primaria);
    color: #fff;
    font-size: 0.9rem;
    padding: 10px 80px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden {
    background-color: transparent;
    border-color: #fff;
}

.container form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
    gap: 1vh;
}

.container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 0.7rem;
    border-radius: 8px;
    width: 80%;
    outline: none;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.custom-select {
    width: 80%;
    position: relative;
    font-family: Arial;
}

.selected {
    background: #eee;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.7rem;
    color: #00000082;
    font-family: var(--font-titulo);
}

.selected i{
    padding-left: 74%;
}

.options {
    list-style: none;
    padding: 0;
    margin: 5px 0 0;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
    display: none;
    height: 20vh;
    overflow-y: auto;
}

.options li {
    padding: 0.2rem;
    font-size: 0.8rem;
    cursor: pointer;
    font-family: var(--font-titulo);
    background: #eee;
}

.options li:hover {
    background: #ffffff;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}


@keyframes move {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.social-icons {
    margin: 20px 0;
}


.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 100px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 100px 100px 0;
}

.toggle {
    background-color: var(--cor--botao-reject);
    height: 100%;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right {
    transform: translateX(200%);
}