@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-primaria: #e3261b;
    --cor-secundaria: #f0a956;
    --cor-terciaria: #a1735e;
    --cor-itemdesconto: #00bf63;
    --cor-grey: #f4f4f4;
    --cor-laranja: #d6390d;
    --cor--botao-accept: #276254;
    --cor--botao-reject: #e3261b;
    --font-titulo: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-titulo);
    background-color: var(--cor-cinza);
}


/* NAVBAR */

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    background-color: #ffffff;
    z-index: 10000;
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.nav-btn-cardapio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 15%;
}

.nav-btn-cardapio h1 {
    font-size: 1.8rem;
    color: var(--cor-primaria);
    cursor: pointer;
}

.nav-btn-cardapio i {
    font-size: 1.6rem;
    cursor: pointer;
}


.nav-links ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links ul h1 {
    font-size: 1.4rem;
    font-family: var(--font-titulo);
    cursor: pointer;
    font-weight: 400;
}

.nav-links ul h1 a {
    transition: 0.3s ease;
    color: #000000;
    text-decoration: none;
}

.nav-items-ul-s:hover {
    color: var(--cor-secundaria);
}

.nav-items-ul-f:hover {
    color: var(--cor-terciaria);
}

.nav-items-ul-d:hover {
    color: var(--cor-secundaria);
}

.nav-items-ul-b:hover {
    color: var(--cor-terciaria);
}

.nav-items-ul-o:hover {
    color: var(--cor-primaria);
}

.nav-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.nav-items ul {
    gap: 12vh;
}

.nav-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    height: 3vh;
    padding: 1rem;
}

.btn-user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-user button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vh;
    font-size: 1.2rem;
    height: 4vh;
    width: 6vw;
    font-family: var(--font-titulo);
    font-weight: 500;
    background-color: white;
    color: rgba(0, 0, 0, 0.76);
    border-radius: 0.4em;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.171);
    transition: 0.5s ease;
}

.btn-user i {
    font-size: 1.2rem;
    color: inherit;
    cursor: pointer;
}

.btn-user button:hover {
    color: white;
    background-color: var(--cor-secundaria);
}

.btn-cart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cart button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vh;
    font-size: 1.2rem;
    height: 4vh;
    width: 8vw;
    font-family: var(--font-titulo);
    font-weight: 500;
    background-color: var(--cor-primaria);
    color: white;
    border-radius: 0.4em;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.171);
    transition: 0.5s ease;
}

.btn-cart button i {
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}

.btn-cart i {
    font-size: 2rem;
    color: var(--cor-primaria);
    cursor: pointer;
}

/*pop-up-user*/

.overlay-pop-up-user{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1111111111111111111111111111111111;
    transition: opacity 0.3s ease;
}

.pop-up-user {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #0000005d;
    z-index: 111111111112;
    height: 45%;
    width: 25%;
    border-radius: 15px;
    gap: 0.3rem;
    padding: 1rem;
}

.btn-fechar-pop-up-user {
    position: absolute;
    right: 4%;
    top: 3%;
    background-color: transparent;
    height: 6%;
    width: 6%;
    border-radius: 0.3rem;
    transition: 0.3s ease;
    color: #666;
    border: none;
}

.btn-fechar-pop-up-user:hover {
    color: white;
    background-color: var(--cor-primaria);
}

.content-pop-user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    gap: 1vh;
}

.content-top-user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 100%;
    gap: 1vh;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
}

.content-top-left-user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
}

.content-top-left-user-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.244);
    border-radius: 100%;
}

.content-top-left-user-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.content-top-right-user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 69%;
}

.content-top-right-user-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content-top-right-user-text-name {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 50%;
    width: 95%;
}

.content-top-right-user-text-name h3{
    font-size: 1.5rem;
    font-family: var(--font-titulo);
    font-weight: 500;
    width: 95%;
    white-space: nowrap;       /* impede quebrar linha */
    overflow: hidden;          /* oculta o texto extra */
    text-overflow: ellipsis;   /* adiciona os "..." */
}

.content-top-right-user-text-email{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 50%;
    width: 95%;
}

.content-top-right-user-text-email h6{
    font-size: 1rem;
    font-family: var(--font-titulo);
    color: #666;
    font-weight: 300;
    width: 95%;
    white-space: nowrap;       /* impede quebrar linha */
    overflow: hidden;          /* oculta o texto extra */
    text-overflow: ellipsis;   /* adiciona os "..." */
}

.content-mid-user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30%;
    width: 100%;
    gap: 1vh;
    padding: 0.3rem;
}

.content-mid-user-row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 49%;
    width: 100%;
}

.content-mid-user-row-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
}

.content-mid-user-row-left-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 40%;
    border-radius: 100%;
    background-color: #ff0d001b;
    transform: translateX(-10%);
}

.content-mid-user-row-left-icon i{
    font-size: 1.6rem;
    color: rgb(245, 14, 14);
    padding-top: 0.1rem;
}

.content-mid-user-row-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
}

.content-mid-user-row-right-text{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content-mid-user-row-right-text h1{
    font-size: 0.9rem;
    font-family: var(--font-titulo);
    font-weight: 300;
    color: #000000;
    width: 95%;
    white-space: nowrap;       /* impede quebrar linha */
    overflow: hidden;          /* oculta o texto extra */
    text-overflow: ellipsis;   /* adiciona os "..." */
}

.content-mid-user-row-right-text h3{
    font-size: 1.1rem;
    font-family: var(--font-titulo);
    font-weight: 500;
    width: 95%;
    white-space: nowrap;       /* impede quebrar linha */
    overflow: hidden;          /* oculta o texto extra */
    text-overflow: ellipsis;   /* adiciona os "..." */
}

.content-bottom-user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 100%;
}

.content-bottom-user-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.246);
    gap: 1vh;
}

.content-bottom-user-row button{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 35%;
    width: 100%;
    border-radius: 0.4rem;
    padding-left: 1rem;
}

.content-bottom-user-row button a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: inherit;
    font-family: var(--font-titulo);
    font-size: 1.1rem;
    font-weight: 500;
    height: 100%;
    width: 100%;
}

.content-bottom-user-row button a i{
    padding-right: 0.5rem;
    padding-bottom: 0.2rem;
}

.btn-pop-up-editar-adm{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.222);
    transition: 0.3s ease;
}

.btn-pop-up-editar-adm:hover{
    color: white;
    background-color: var(--cor-primaria);
}

.btn-logout-pop-up{
    background-color: var(--cor-primaria);
    color: white;
    transition: 0.3s ease;
}

.btn-logout-pop-up:hover{
    background-color: #e3251bba;
}

/*pop-up-cart*/

.pop-up-cart {
    position: fixed;
    height: 90.9%;
    width: 25%;
    top: 9%;
    right: 0;
    background-color: #ffff;
    z-index: 1000000;
    border: 1px solid rgba(0, 0, 0, 0.345);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.pop-up-cart.active {
    transform: translateX(0);
}

.content-pp-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content-pp-cart-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 25%;
    width: 95%;
}

/*botao X do cart*/
#btn-close-cart-nav {
    position: absolute;
    right: 2%;
    top: 3%;
    height: 4.3%;
    width: 8%;
    background-color: transparent;
    color: #000000;
    border: none;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    transition: 0.3s ease;
}

#btn-close-cart-nav:hover {
    background-color: #d6390df3;
    color: white;
}

#btn-bag-carrinho{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 5%;
    top: 3%;
    height: 4.3%;
    width: 30%;
    background-color: transparent;
    color: #000000;
    border: none;
    font-size: 1.5rem;
    border-radius: 0.4rem;
    transition: 0.3s ease;
    gap: 1vh;
    cursor: text;
}

#btn-bag-carrinho svg{
    color: var(--cor-primaria);
    padding-bottom: 0.5rem;
}

/*botao Clean do carrinho*/

#btn-limpar-carrinho{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.205);
    left: 4%;
    top: 12%;
    height: 4.3%;
    width: 35%;
    background-color: white;
    color: #000;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    transition: 0.3s ease;
}

#btn-limpar-carrinho i{
    color: var(--cor-primaria);
}

#btn-limpar-carrinho:hover{
    border-color: var(--cor-primaria);
}

.content-pp-cart-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 55%;
    width: 95%;
}

/*title carrinho*/

.divisao-top{
    position: absolute;
    top: 10%;
    width: 100%;
    height: 1px;
    background-color: #0000004c;
}

.cart-title {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 80%;
}

.barra-divisao {
    height: 0.3%;
    width: 80%;
    background-color: #00000079;
}

.cart-title h6 {
    font-size: 1.4rem;
    font-family: var(--font-titulo);
    font-weight: 600;
}

/*Estrutura swiper*/

.cart-items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 95%;
}

.container-items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.swiper {
    width: 95%;
    height: 90%;
    padding: 1rem;
    background-color: white;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-width: 100%;
    min-height: 31%;
    max-height: 31%;
}

.swiper-scrollbar {
    background: rgba(0, 0, 0, 0.083);
    /* Cor da barra de rolagem */
    border-radius: 1px;
    cursor: pointer;
    min-width: 2.0%;
    max-height: 42%;
    transform: translateY(71.5%);
}


/*carrinho item*/

.carrinho-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: white;
}

.carrinho-item-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}

.carrinho-item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 95%;
    background-color: white;
}

.carrinho-item-img img {
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.235);
    border-radius: 0.4rem;
}

.carrinho-item-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 55%;
    height: 100%;
}

.carrinho-item-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50%;
    width: 90%;
}

.carrinho-item-title h3 {
    font-size: 1rem;
    font-family: var(--font-titulo);
    max-width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.carrinho-item-calc-preco {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 40%;
}

.carrinho-item-quantidade {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 40%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.235);
    border-radius: 0.5rem;
}

.carrinho-item-quantidade button {
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 30%;
    background-color: white;
    width: 2rem;
    height: 1.8rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.carrinho-item-quantidade button:hover {
    color: var(--cor-primaria);
}

.carrinho-item-quantidade .input-quantidade {
    width: 1.5rem;
    height: 100%;
    text-align: center;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.carrinho-item-preco {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 60%;
    height: 70%;
}

.carrinho-item-preco p {
    font-size: 1.2rem;
    font-weight: 400;
}

/*Price total carrinho*/

.cart-total-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.2rem;
    height: 10%;
    width: 90%;
}

.cart-total-price h5 {
    font-size: 1.4rem;
    font-family: var(--font-titulo);
    color: #000000d1;
}

.cart-total-price h6 {
    font-size: 1.3rem;
    font-family: var(--font-titulo);
}


/*Finalizar button carrinho*/

.finalizar-pedido {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 95%;
}

.finalizar-pedido button {
    border: 1px solid rgba(0, 0, 0, 0.312);
    background-color: #e3261b;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    height: 60%;
    width: 95%;
    border-radius: 0.8rem;
    transition: 0.3s ease;
}

.finalizar-pedido button:hover{
    background-color: #e3251be2;
}


/*carrinho-vazio*/

.carrinho-vazio{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    padding: 1rem;
}

.carrinho-vazio-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.carrinho-vazio-content-top,
.carrinho-vazio-content-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    width: 100%;
}

.carrinho-vazio-content-top-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 45%;
    border-radius: 100%;
    background-color: #00000008;
}

.carrinho-vazio-content-top-icon i{
    font-size: 3.5rem;
    color: #666;
}

.carrinho-vazio-content-bottom-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.carrinho-vazio-content-bottom-text h1{
    font-size: 1.6rem;
    font-family: var(--font-titulo);
}

.carrinho-vazio-content-bottom-text p{
    font-size: 0.9rem;
    text-align: center;
    color: #666;
    font-family: var(--font-titulo);
}

/*Main*/

.container-salgados,
.container-folhados,
.container-doces,
.container-bebidas,
.container-outros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 15vh;
    width: 100%;
    padding: 2rem 0;
}

.title-salgados,
.title-folhados,
.title-doces,
.title-bebidas,
.title-outros {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 80%;
    margin-bottom: 1.5rem;
}

.title-salgados h1 {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--cor-secundaria);
}

.title-folhados h1 {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--cor-terciaria);
}

.title-doces h1 {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--cor-secundaria);
}

.title-bebidas h1 {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--cor-terciaria)
}

.title-outros h1 {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--cor-primaria)
}


.content-salgados,
.content-folhados,
.content-doces,
.content-bebidas,
.content-outros {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 3.2vh;
}

.row-cards {
    display: flex;
    gap: 2%;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.cards-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 21vh;
    max-height: 35vh;
    flex: 0 0 32%;
    /* Largura padrão: 25% */
    border-bottom: 3px solid rgba(0, 0, 0, 0.080);
    border-radius: 0.4rem;
    cursor: pointer;
    transition: 0.5s ease;
    box-sizing: border-box;
}

.cards-items:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.10);
}

.cards-items-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 100%;
}

.cards-items-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    border-radius: 0.5rem;
    border-radius: 1rem;
}

.cards-items-img img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}


.cards-items-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40%;
    width: 100%;
}

.title-cards-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 92%;
    height: 20%;
    padding-left: 0.2rem;
}

.title-cards-items h1 {
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    /* necessário para forçar o corte */
}

.description-cards-items {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* máximo de 2 linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    /* evita cortar palavra no meio */
    max-width: 90%;
    min-width: 90%;
}

.description-cards-items p {
    font-size: 0.8rem;
}

.price-cards-items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45%;
    width: 90%;
}

.price-cards-items-p {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 90%;
    height: 100%;
}

.price-cards-items p {
    font-size: 1.2rem;
    font-weight: 600;
}

.price-cards-items-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 10%;
}

.price-cards-items-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 60%;
    width: 85%;
    border-radius: 100%;
    transition: 0.3s ease;

}

.price-cards-items-button button i {
    font-size: 2.2rem;
}


.price-cards-items-button button:hover {
    transform: scale(1.02);
}

/*Modal Cardapio*/

.container-modal-cardapio {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #0000005d;
    z-index: 11111112;
    height: 60vh;
    width: 110vh;
    border-radius: 15px;
}

.modal-overlay-cardapio {
    display: none;
    /* Inicialmente escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo semitransparente */
    z-index: 11111111;
    /* Abaixo do modal */
    transition: opacity 0.3s ease;
}

.modal-overlay-cardapio.active,
.container-modal-cardapio.active {
    display: flex;
    /* Exibe o overlay */
    opacity: 1;
}

.content-modal-cardapio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 95%;
    gap: 1vw;
}

.content-modal-cardapio-left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 49%;
    flex-direction: column;
    gap: 1vh;
}

.content-modal-cardapio-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 49%;
    flex-direction: column;
    gap: 1vh;
}

.content-modal-cardapio-right .btn-close-modaL {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.8%;
    width: 3.2%;
    position: absolute;
    top: 2%;
    right: 2%;
    border-radius: 100%;
    background-color: var(--cor-primaria);
    color: white;
    font-size: 1.3rem;
    border: none;
    transition: 0.3s ease;
}

.content-modal-cardapio-right .btn-close-modaL:hover {
    background-color: #e3251bba;
}

.modal-left-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 90%;
}

.modal-left-img img {
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
}

.modal-right-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    width: 100%;
}

.modal-right-title h3 {
    font-size: 1.4rem;
    font-family: var(--font-titulo);
    font-weight: 400;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modal-right-description {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-height: 30%;
    max-width: 95%;
}

.modal-right-description p {
    display: -webkit-box;
    /* Necessário para o line-clamp funcionar */
    -webkit-line-clamp: 4;
    /* Limita o texto a 4 linhas */
    -webkit-box-orient: vertical;
    /* Define a orientação */
    overflow: hidden;
    /* Esconde o texto excedente */
    text-overflow: ellipsis;
    /* Adiciona "..." ao final do texto cortado */
    font-size: 1rem;
    color: #00000089;
    font-family: var(--font-titulo);
}

.modal-right-conteudo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 40%;
    padding-left: 0.8rem;
}

.modal-right-quantidade {
    border: 1px solid;
}

.modal-right-quantidade button {
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 30%;
    background-color: white;
    width: 3rem;
    height: 3rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.modal-right-quantidade button:hover {
    color: var(--cor-primaria);
}

.modal-right-quantidade .input-modal-quantidade {
    width: 1.5rem;
    height: 100%;
    text-align: center;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
}

.modal-right-adicionar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 20%;
    border-top: 1px solid rgba(0, 0, 0, 0.312);
}

.modal-right-preco {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 40%;
}

.modal-right-preco h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-family: var(--font-titulo);
    height: 100%;
}

.modal-right-adicionar button {
    width: 100%;
    height: 50%;
    background-color: var(--cor-primaria);
    color: white;
    border: none;
    border-radius: 1rem;
    font-size: 1.3rem;
    font-family: var(--font-titulo);
    transition: 0.3s ease;
}

.modal-right-adicionar button:hover{
    background-color: #e3251bba;
}