/* Arquivo: cardapio.css*/

/* Sets padrões */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-primaria: rgb(231, 231, 231);
    --cor-secundaria: #ff4d69;
    --cor-titulo-principal: #000000;
    --cor-titulo-secundaria: #ffa100;
    --cor--botao-accept: #93c293;
    --cor--botao-reject: #dd3e56;
    --cor-elementos-navbar: red;
    --font-titulo: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/*Header - Navbar*/

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #ccc;

}

/*Btn "minha conta" */

.nav-account {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    width: 8vw;
}

.btn-nav-account {
    height: 5vh;
    width: 5vw;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-nav-account i {
    font-size: 2rem;
    color: var(--cor-elementos-navbar);
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6vh;
}

.nav-links ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20vh;
    padding-right: 4%;
}

.nav-links ul h1{
    color: var(--cor-elementos-navbar);
    font-family: var(--font-titulo);
    cursor: pointer;
}

.nav-links ul i{
    font-size: 1rem;
}

/*pop up*/

.popup { 
  position: absolute;
  top: 7vh;
  left: 2vh;
  height: 23vh;
  width: 15vw;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  display: none;
  z-index: 100000;
}

.popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.popup ul li {
  margin: 0.5rem 0;
}

.popup ul li a {
  text-decoration: none;
  color: black;
  font-family: var(--font-titulo);
}

.btn-popup-logout{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    width: 7vw;
    background-color: var(--cor--botao-reject);
    border-radius: 1.8vh;
    color: black;
    text-decoration: none;
    font-family: var(--font-titulo);
    font-size: 1.2vw;
    border: 1px solid black;
    gap: 1vh;
    cursor: pointer;
}

/*Main*/

.container-banner{
    display: flex;
    justify-content: center ;
    align-items: flex-end;
    height: 38vh;
    width: 100%;
    background-color: #ffffff;
}

.content-banner{
    height: 30vh;
    width: 80%;
    background-color: #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container-destaques{
    display: flex;
    justify-content: center ;
    flex-direction: column;
    align-items: center;
    height: 55vh;
    width: 100%;
    background-color: #ffffff;
}

.titulo-destaques{
    width: 80%;
    height: 30%;
    display: flex;
    align-items: center;
}

.titulo-destaques h1{
    color: black;
    font-family: var(--font-titulo);
    font-size: 1.2rem;
}

.content-destaques{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    width: 80%;
    background-color: #ffffff;
}

.items-destaques{
    width: 30%;
    background-color: #ffffff;
    height: 100%;
    border-radius: 2vh;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
}

.card-img{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: rgb(158, 158, 158);
}

.card-img img{
    height: 80%;
    width: 60%;
    overflow: hidden;
    border: 0px solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(231, 231, 231);
}

.card-text{
    height: 12%;
    width: 100%;
    font-family: var(--font-titulo);
    text-align: center;
}

.card-text h5{
    height: 100%;
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

.card-text-description{
    height: 22%;
    width: 100%;
    font-family: var(--font-titulo);
    display: flex;
    justify-content: center;
}

.card-text-description p{
    height: 100%;
    max-width: 60%;
    font-size: 0.6rem;
    text-align: center;
}

.card-preco{
    width: 100%;
    height: 10%;
}

.card-preco h6{
    width: 98%;
    height: 100%;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    padding-left: 2%;
    font-family: var(--font-titulo);
}

.card-btn-add{
    width: 100%;
    height: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-btn-add button{
    width: 40%;
    height: 60%;
    background-color: var(--cor-secundaria);
    border: none;
    border-radius: 2vh;
    color: rgb(255, 255, 255);
    font-family: var(--font-titulo);
    font-size: 1.2rem;
    cursor: pointer;
}

.section{
    height: 40vh;
    width: 100%;
}


