@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-primaria: #e3261b;
    --cor-secundaria: #f0a956;
    --cor-terciaria: #a1735e;
    --cor-itemdesconto: #00bf63;
    --cor-grey: #f4f4f4;
    --cor-laranja: #d6390d;
    --cor--botao-accept: #276254;
    --cor--botao-reject: #e3261b;
    --font-titulo: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-titulo);
    background-color: var(--cor-cinza);
}


/* NAVBAR */

.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    background-color: #f4f4f4;
    z-index: 10000;
    width: 100%;
}

.nav-links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.nav-btn-cardapio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 15%;
}

.nav-btn-cardapio h1{
    font-size: 1.8rem;
    color: var(--cor-primaria);
    cursor: pointer;
}

.nav-btn-cardapio i{
    font-size: 1.6rem;
    cursor: pointer;
}


.nav-links ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links ul h1{
    font-size: 1.4rem;
    color: var(--cor-primaria);
    font-family: var(--font-titulo);
    cursor: pointer;
    font-weight: 600;
}

.nav-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.nav-items ul{
    gap: 12vh;
}

.nav-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 18%;
    height: 3vh;
    gap: 4vh;
}

.btn-user{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-user i{
    cursor: pointer;
    color: #e3261b;
    font-size: 1.8rem;
}

.btn-cart{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cart i{
    cursor: pointer;
    color: #e3261b;
    font-size: 1.8rem;
    padding-right: 2vh;
}

/*Main*/

    /*Main Banner*/

.container-banner{
    display: flex;
    justify-content: center ;
    align-items: flex-end;
    height: 38vh;
    width: 100%;
    background-color: #ffffff;
}

.content-banner{
    height: 30vh;
    width: 80%;
    background-color: #ffffff;
    margin-right: 5%;

}

    /*Main destaques*/

.container-destaques{
    display: flex;
    justify-content: center ;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 100%;
    background-color: #ffffff;
}

.titulo-destaques{
    width: 80%;
    height: 30%;
    display: flex;
    align-items: center;
}

.titulo-destaques h1{
    color: black;
    font-family: var(--font-titulo);
    font-size: 1.5rem;
}

.content-destaques{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    width: 70%;
    background-color: #ffffff;
}

    /* Novos cards style*/
.container-cards {
    font-family: var(--font-titulo);
    height: 500px;
}

.cards-wrapper {
        max-width: 1200px;
        height: 400px;
        margin: 0 60px 35px;
        padding: 20px 10px;
        overflow: hidden;
    }

.cards-listas .cards-itens {
    list-style: none;
}

.swiper {
    width: 70%;
    height: 500px;
    padding: 20px 0;
}

.cards-listas .cards-itens .cards-link  {
    width: 370px;
    display: block;
    background: #ffffff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    border: 2px solid transparent;
    transition: 0.2s ease;
}

.cards-listas .cards-itens .cards-link:hover {
        border-color: rgba(0, 0, 0, 0.15);
}

.cards-listas .cards-link .cards-img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
    background: #eee;
}

.cards-listas .cards-link .cards-Tipo {
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: rgb(248, 201, 114);
    width: fit-content;
    border-radius: 50px;
}

.cards-listas .cards-link .cards-Tipo.salgado{
    color: black;
    background: rgba(255, 255, 0, 0.5);
}

.cards-listas .cards-link .cards-Tipo.combo{
    color: black;
    background: rgba(255, 94, 0, 0.5);
}

.cards-listas .cards-link .cards-Tipo.bebidas{
    color: black;
    background: rgba(255, 0, 0, 0.5);
}

.cards-listas .cards-link .cards-Tipo.doces{
    color: black;
    background: rgba(255, 192, 203, 0.5);
}

.cards-listas .cards-link .cards-Tipo.balas{
    color: black;
    background: rgba(128, 0, 128, 0.5);
}

.cards-listas .cards-link .cards-titulo {
    font-size: 1.19rem;
    color: #000000;
    font-weight: 600;
}

.cards-listas .cards-link .cards-preco {
    font-size: 1.10rem;
    color: #000000;
    padding-top: 5px;
    font-weight: 300;
}

.swiper-slide {
    height: auto ;
}

/*Section Salgados*/

.container-salgados{
    display: flex;
    justify-content: center ;
    flex-direction: column;
    align-items: center;
    height: 55vh;
    width: 100%;
    background-color: #ffffff;
}

.titulo-salgados{
    width: 80%;
    height: 25%;
    display: flex;
    align-items: center;
}

.titulo-salgados h1{
    color: black;
    font-family: var(--font-titulo);
    font-size: 1.5rem;
}

.content-salgados{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    width: 82%;
    background-color: #ffffff;
}

.row-cards-salgados-1, .row-cards-salgados-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}

.column-cards-1, .column-cards-2, .column-cards-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    border: 2px solid transparent;
}

.column-cards-1:hover .cards-left{
     border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.column-cards-1:hover .cards-right{
     border-color: rgba(0, 0, 0, 0.15);

}

.column-cards-2:hover .cards-left{
     border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.column-cards-2:hover .cards-right{
     border-color: rgba(0, 0, 0, 0.15);

}

.column-cards-3:hover .cards-left{
     border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.column-cards-3:hover .cards-right{
     border-color: rgba(0, 0, 0, 0.15);

}


.cards-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
    width: 65%;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--cor-primaria);
    border: 1px solid transparent;
    transition: 0.2s ease;
}

.cards-left-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25%;
    width: 95%;
}

.cards-left-titulo h1{
    font-family: var(--font-titulo);
    color: #201f1f;
    font-weight: 500;
    font-size: 1rem;
}

.cards-left-descrisao{
    height: 55%;
    width: 95%;
}

.cards-left-descrisao p{
    color: #201f1f;
    font-family: var(--font-titulo);
    font-weight: 300;
    font-size: 0.7rem;
}

.cards-left-preco{
    height: 20%;
    width: 95%;
}

.cards-left-preco h6{
    color: #201f1f;
    font-family: var(--font-titulo);
    font-weight: 300;
    font-size: 1rem;
}

.cards-right{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
    width: 30%;
    transition: 0.3s ease;
    cursor: pointer;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd; 
    background-color: var(--cor-primaria);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 

    
}

.cards-img-right{
    height: 80%;
    width: 100%;
}

.cards-img-right img{
    height: 100%;
    width: 100%;
}

/*Section Doces*/


.container-doces{
    display: flex;
    justify-content: center ;
    flex-direction: column;
    align-items: center;
    height: 48vh;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    background-color: #ffffff;
}

.titulo-doces{
    width: 80%;
    height: 15%;
    display: flex;
    align-items: center;
}

.titulo-doces h1{
    color: black;
    font-family: var(--font-titulo);
    font-size: 1.5rem;
}

.content-doces{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    width: 82%;
    background-color: #ffffff;
}

.row-cards-doces-1, .row-cards-doces-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}

/*Section bebidas*/


.container-bebidas{
    display: flex;
    justify-content: center ;
    flex-direction: column;
    align-items: center;
    height: 48vh;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    background-color: #ffffff;
}

.titulo-bebidas{
    width: 80%;
    height: 15%;
    display: flex;
    align-items: center;
}

.titulo-bebidas h1{
    color: black;
    font-family: var(--font-titulo);
    font-size: 1.5rem;
}

.content-bebidas{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    width: 82%;
    background-color: #ffffff;
}

.row-cards-bebidas-1, .row-cards-bebidas-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}

#h2o{
    width: 50%;
}

/*Section Acompanhamento*/


.container-acompanhamentos{
    display: flex;
    justify-content: center ;
    flex-direction: column;
    align-items: center;
    height: 48vh;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    background-color: #ffffff;
}

.titulo-acompanhamentos{
    width: 80%;
    height: 15%;
    display: flex;
    align-items: center;
}

.titulo-acompanhamentos h1{
    color: black;
    font-family: var(--font-titulo);
    font-size: 1.5rem;
}

.content-acompanhamentos{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    width: 82%;
    background-color: #ffffff;
}

.row-cards-acompanhamentos-1, .row-cards-acompanhamentos-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}

/*Modais*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Footer*/
.containerfooter{
    background-color: rgb(240, 238, 238);
    width: 100%;
    height: 17vh;
    text-align: center;
}

.contentfooter{
    position: relative;
    top: 7%;
    transition: all 0.5s;
}

.h1footer{
    color: var(--red);
    font-size: 1.5rem;
    font-family: var(--font-titulo);
    font-weight: bold;
}

.p-section{
    display: flex;
    flex-direction: column;
}

.pfooter{
    color: var(--font-titulo);
    opacity: 0.9;
    font-weight: 300;
    font-size: 0.9rem;
    margin-left: 27.3%;
    margin-right: 27.3%;
}

.footer-socialmidia{
    position: relative;
    top: 17%;
    display: flex;
    gap: 3%;
    justify-content: center;
}

.socialmidia-icons{
    height: 1.5rem;
    width: 1.5rem;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    font-size: 0.9rem;
    background-color: var(--red);
}

.socialmidia-icons:hover{
    text-decoration: none;
}


.copyrightfooter{
    display: flex;
    justify-content: center;
    background-color: var(--red);
    font-size: 0.9rem;
    padding: 0.7rem;
    font-weight: 500;
    transform: translateY(40%);
    color: white;
}


