@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-primaria: #e3261b;
    --cor-secundaria: #f0a956;
    --cor-terciaria: #a1735e;
    --cor-itemdesconto: #00bf63;
    --cor-grey: #f4f4f4;
    --cor-laranja: #d6390d;
    --cor--botao-accept: #276254;
    --cor--botao-reject: #e3261b;
    --font-titulo: 'Poppins', sans-serif;
}

html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: 0px;
    border: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}


/*Ajutes gerais*/


/*Navbar*/

/* NAVBAR */

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: white;
    z-index: 1000;
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 100%;
}

.nav-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 8vh;
    width: 20%;
    padding: 1rem;
}

.aside-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-primaria);
    height: 70%;
    width: 15%;
    color: white;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.aside-icon i {
    padding-top: 0.1rem;
}

.nav-links ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links ul h1 {
    font-size: 1.4rem;
    color: #000000;
    font-family: var(--font-titulo);
    cursor: pointer;
    font-weight: 400;
    transition: 0.3s ease;
}

.nav-links ul h1:hover {
    color: var(--cor-primaria);
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.nav-items ul {
    gap: 5vh;
}

.nav-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    height: 3vh;
    padding: 1rem;
}

/* estilização dos botoes delogar e cadastrar*/


.btn-cadastrar-se {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-cadastrar-se button {
    font-size: 1.2rem;
    height: 4vh;
    width: 6vw;
    font-family: var(--font-titulo);
    font-weight: 500;
    background-color: #f7f7f7;
    color: rgba(0, 0, 0, 0.76);
    border-radius: 0.4em;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.171);
    transition: 0.5s ease;
}

.btn-cadastrar-se button a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.btn-cadastrar-se button a i {
    padding-top: 0.1rem;
}

.btn-cadastrar-se button:hover {
    color: white;
    background-color: var(--cor-primaria);
}

/*botao logado*/

.btn-user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-user button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vh;
    font-size: 1.2rem;
    height: 4vh;
    width: 6vw;
    font-family: var(--font-titulo);
    font-weight: 500;
    background-color: white;
    color: rgba(0, 0, 0, 0.76);
    border-radius: 0.4em;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.171);
    transition: 0.5s ease;
}

.btn-user i {
    font-size: 1.2rem;
    color: inherit;
    cursor: pointer;
}

.btn-user button:hover {
    color: white;
    background-color: var(--cor-secundaria);
}

.btn-cart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cart button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vh;
    font-size: 1.2rem;
    height: 4vh;
    width: 8vw;
    font-family: var(--font-titulo);
    font-weight: 500;
    background-color: var(--cor-primaria);
    color: white;
    border-radius: 0.4em;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.171);
    transition: 0.5s ease;
}

.btn-cart button i {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

/*pop-up-user*/

.pop-up-user {
    display: none;
    position: fixed;
    height: 25%;
    width: 20%;
    background-color: white;
    top: 8%;
    right: 2%;
    border-radius: 3%;
    border: 1px solid rgba(0, 0, 0, 0.175);
    z-index: 1000000;
}

.btn-pp-close {
    position: absolute;
    height: 11%;
    width: 7%;
    background-color: var(--cor--botao-reject);
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
    right: 2%;
    top: 2%;
}

.btn-pp-close i {
    color: white;
    padding-top: 0.4rem;
}

.content-pp-user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 1vh;
}

.content-pp-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70%;
    width: 95%;
}


.content-pp-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 15%;
    width: 95%;
}

.content-pp-bottom a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80%;
    width: 30%;
    border-radius: 0.4rem;
    color: white;
    font-family: var(--font-titulo);
    font-weight: 600;
    background-color: var(--cor-primaria);
}


.top-circle-info-user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 85%;
    background-color: #0000000e;
    border-radius: 1rem;
    gap: 0.3vh;
}

.top-circle-info-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 95%;
}

.top-circle-info-img img {
    height: 80%;
    width: 70%;
    background-color: #000000;
    border-radius: 50%;
}

.top-circle-info-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.top-circle-info-text h6 {
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 95%;
    font-family: var(--font-titulo);
    font-weight: 400;
}

.top-circle-info-text p {
    font-size: 1rem;
    max-width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: var(--font-titulo);
}

.top-info-user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 85%;
}

.top-info-user-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 80%;
    width: 100%;
    gap: 2vh;
}

.top-info-user-text h6 {
    color: rgba(0, 0, 0, 0.878);
    font-family: var(--font-titulo);
    font-size: 1.2rem;
    font-weight: 300;
    padding-top: 10%;
    height: 10%;
}

.top-info-user-text p {
    font-family: var(--font-titulo);
    font-size: 1.2rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.878);
}


/*Aside*/

.aside-options {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 15%;
    background-color: rgb(251, 251, 251);
    left: 0;
    z-index: 1000000000;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.082);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.aside-options.hidden {
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
    /* evita clique enquanto estiver escondido */
}

.aside-options.all {
    transform: translateX(0%);
    opacity: 1;
    pointer-events: auto;
}

.aside-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.100);
}

.btn-close-aside {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 3%;
    width: 15%;
    background-color: var(--cor-primaria);
    border-radius: 0.3rem;
    top: 1%;
    right: 3%;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-close-aside:hover {
    background-color: #e3251bc5;
}

.btn-close-aside i {
    padding-top: 0.2rem;
}

.aside-top-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
}

.aside-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 85%;
    width: 100%;
    gap: 1vh;
}

.aside-bottom-title {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 15%;
    width: 70%;
}

.aside-bottom-title h6 {
    font-size: 1rem;
    font-family: var(--font-titulo);
    color: #00000071;
    font-weight: 500;
}

.aside-lista {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 30%;
    width: 100%;
}

.aside-lista ul {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    width: 80%;
    height: 100%;
    gap: 1vh;
    padding-left: 0;
}

.aside-lista ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    font-family: var(--font-titulo);
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s ease;
    gap: 1vh;
    border-radius: 0.5rem;
    font-weight: 300;
    color: #000000c7;
    padding: 0 1rem;
}

.aside-lista ul li:hover {
    background-color: rgba(0, 0, 0, 0.04);
}


/*Main*/


.container-estoque {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    transform: translateY(11%);
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.container-clientes,
.container-pedidos,
.container-configuracoes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    transform: translateY(11%);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

/* Classe para mostrar com fade */
.active {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

/* Classe para esconder com fade */
.close {
    opacity: 0;
    visibility: hidden;
    z-index: 0;
}

.title-estoque {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10%;
    width: 100%;
}

.title-estoque-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 90%;
}

.title-estoque-text h1 {
    font-size: 1.8rem;
    font-family: var(--font-titulo);
    color: #000000;
    font-weight: 600;
}

.title-estoque-text p {
    font-size: 1.2rem;
    font-family: var(--font-titulo);
    color: #00000091;
    font-weight: 400;
}

.btn-adicionar-estoque {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 90%;
    width: 15%;
}

.btn-adicionar-estoque button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    background-color: var(--cor-primaria);
    color: white;
    border-radius: 0.5rem;
    height: 60%;
    width: 75%;
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--font-titulo);
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-adicionar-estoque button:hover {
    background-color: #e3251bc1;
}

.content-estoque {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
    height: 90%;
    width: 100%;
}

.content-estoque-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20%;
    width: 97%;
}

.cards-estoque-stats {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 85%;
    border: 1px solid rgba(0, 0, 0, 0.200);
    border-radius: 0.6rem;
    padding: 1.5rem;
}

.title-cards-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    width: 100%;
}

.title-cards-stats-text h1 {
    font-size: 1.2rem;
    font-family: var(--font-titulo);
    font-weight: 500;
}

.title-cards-stats-icon i {
    font-size: 1.2rem;
    color: var(--cor-primaria);
}

.cards-number-stats {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50%;
    width: 100%;
}

.cards-number-stats h1 {
    font-size: 2rem;
    font-family: var(--font-titulo);
    font-weight: 500;
}

.content-estoque-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 75%;
    width: 98%;
}

.estoque-options {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 10%;
    padding: 0.5rem;
}

#dropdownButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.197);
    transition: 0.3s ease;
    background-color: white;
    color: black;
    width: 12%;
    height: 100%;
}

#dropdownButton span {
    font-family: var(--font-titulo);
}

#dropdownButton i {
    color: var(--cor-primaria);
}

#dropdownLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vh;
    height: 100%;
    width: 100%;
}

.dropdown-menu {
    width: 10%;
}

.dropdown-item {
    margin-bottom: 0.2rem;
    transform: translateX(4%);
    height: 95%;
    width: 92%;
    border-radius: 0.4rem;
}

.dropdown-item:hover {
    background-color: #0000003b;
}

.dropdown-item.active {
    background-color: var(--cor-primaria);
}

.dropdown-toggle::after {
    margin-left: .5rem;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.781);
}

/*Tabelas do filtro*/
.table-estoque-all {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55vh;
    width: 100%;
}

.table-estoque-all table {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 99%;
    border: 1px solid rgba(0, 0, 0, 0.345);
    border-radius: 0.5rem;
    overflow: hidden;
}

.table-estoque-all table thead {
    display: flex;
    width: 100%;
    height: 7vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.345);
}

.table-estoque-all table thead tr {
    display: flex;
    width: 100%;
    height: 100%;
}

.table-estoque-all table thead tr td {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 14.2%;
    padding: 0 3.8rem;
    font-size: 1.1rem;
    color: #0000007c;
    font-family: var(--font-titulo);
    font-weight: 600;
}

.table-estoque-all table tbody {
    display: block;
    width: 100%;
    height: calc(55vh - 0vh);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 transparent;
}

.table-estoque-all table tbody::-webkit-scrollbar-thumb {
    background-color: #d3d1d1;
    border-radius: 10px;
}

.table-estoque-all table tbody::-webkit-scrollbar-track {
    background: transparent;
}

/* cada item */
.table-estoque-all table tbody tr {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 8.2vh;
    border-bottom: 1px solid #00000034;
    box-sizing: border-box;
}

.table-estoque-all table tbody tr td {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 14.2%;
    padding: 0 3.8rem;
    height: 100%;
    font-family: var(--font-titulo);
}

.table-estoque-all table tbody tr td h6 {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-estoque-all table tbody tr td img {
    object-fit: cover;
    height: 80%;
    width: 60%;
    border-radius: 0.3rem;
    background-color: #00000034;
}

#table-acoes {
    display: flex;
    gap: 1vh;
}

.table-estoque-all table tbody tr td button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 30%;
    cursor: pointer;
    background-color: white;
    border: 1px solid #00000017;
    border-radius: 0.3rem;
    transition: 0.3s ease;
}

.table-estoque-all table tbody tr td button i.fa-regular.fa-trash-can {
    color: var(--cor-primaria);
}

.table-estoque-all table tbody tr td button:hover {
    background-color: rgba(235, 231, 231, 0.553);
}

/*tabelas do filtro com display none*/

.table-estoque-baixo,
.table-estoque-salgados,
.table-estoque-folhados,
.table-estoque-doces,
.table-estoque-bebidas,
.table-estoque-outros {
    display: none;
    align-items: center;
    justify-content: center;
    height: 55vh;
    width: 100%;
}

.table-estoque-baixo table,
.table-estoque-salgados table,
.table-estoque-folhados table,
.table-estoque-doces table,
.table-estoque-bebidas table,
.table-estoque-outros table {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 99%;
    border: 1px solid rgba(0, 0, 0, 0.345);
    border-radius: 0.5rem;
    overflow: hidden;
}

.table-estoque-baixo table thead,
.table-estoque-salgados table thead,
.table-estoque-folhados table thead,
.table-estoque-doces table thead,
.table-estoque-bebidas table thead,
.table-estoque-outros table thead {
    display: flex;
    width: 100%;
    height: 7vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.345);
}

.table-estoque-baixo table thead tr,
.table-estoque-salgados table thead tr,
.table-estoque-folhados table thead tr,
.table-estoque-doces table thead tr,
.table-estoque-bebidas table thead tr,
.table-estoque-outros table thead tr {
    display: flex;
    width: 100%;
    height: 100%;
}

.table-estoque-baixo table thead tr td,
.table-estoque-salgados table thead tr td,
.table-estoque-folhados table thead tr td,
.table-estoque-doces table thead tr td,
.table-estoque-bebidas table thead tr td,
.table-estoque-outros table thead tr td {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 14.2%;
    padding: 0 3.8rem;
    font-size: 1.1rem;
    color: #0000007c;
    font-family: var(--font-titulo);
    font-weight: 600;
}

.table-estoque-baixo table tbody,
.table-estoque-salgados table tbody,
.table-estoque-folhados table tbody,
.table-estoque-doces table tbody,
.table-estoque-bebidas table tbody,
.table-estoque-outros table tbody {
    display: block;
    width: 100%;
    height: calc(55vh - 0vh);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 transparent;
}

.table-estoque-baixo table tbody::-webkit-scrollbar-thumb,
.table-estoque-salgados table tbody::-webkit-scrollbar-thumb,
.table-estoque-folhados table tbody::-webkit-scrollbar-thumb,
.table-estoque-doces table tbody::-webkit-scrollbar-thumb,
.table-estoque-bebidas table tbody::-webkit-scrollbar-thumb,
.table-estoque-outros table tbody::-webkit-scrollbar-thumb {
    background-color: #d3d1d1;
    border-radius: 10px;
}

.table-estoque-baixo table tbody::-webkit-scrollbar-track,
.table-estoque-salgados table tbody::-webkit-scrollbar-track,
.table-estoque-folhados table tbody::-webkit-scrollbar-track,
.table-estoque-doces table tbody::-webkit-scrollbar-track,
.table-estoque-bebidas table tbody::-webkit-scrollbar-track,
.table-estoque-outros table tbody::-webkit-scrollbar-track {
    background: transparent;
}

/* cada item */
.table-estoque-baixo table tbody tr,
.table-estoque-salgados table tbody tr,
.table-estoque-folhados table tbody tr,
.table-estoque-doces table tbody tr,
.table-estoque-bebidas table tbody tr,
.table-estoque-outros table tbody tr {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 8.2vh;
    border-bottom: 1px solid #00000034;
    box-sizing: border-box;
}

.table-estoque-baixo table tbody tr td,
.table-estoque-salgados table tbody tr td,
.table-estoque-folhados table tbody tr td,
.table-estoque-doces table tbody tr td,
.table-estoque-bebidas table tbody tr td,
.table-estoque-outros table tbody tr td {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 14.2%;
    padding: 0 3.8rem;
    height: 100%;
    font-family: var(--font-titulo);
}

.table-estoque-baixo table tbody tr td h6,
.table-estoque-salgados table tbody tr td h6,
.table-estoque-folhados table tbody tr td h6,
.table-estoque-doces table tbody tr td h6,
.table-estoque-bebidas table tbody tr td h6,
.table-estoque-outros table tbody tr td h6 {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.table-estoque-baixo table tbody tr td img,
.table-estoque-salgados table tbody tr td img,
.table-estoque-folhados table tbody tr td img,
.table-estoque-doces table tbody tr td img,
.table-estoque-bebidas table tbody tr td img,
.table-estoque-outros table tbody tr td img {
    object-fit: cover;
    height: 80%;
    border-radius: 0.3rem;
}

#table-acoes {
    display: flex;
    gap: 1vh;
}


.table-estoque-baixo table tbody tr td button,
.table-estoque-salgados table tbody tr td button,
.table-estoque-folhados table tbody tr td button,
.table-estoque-doces table tbody tr td button,
.table-estoque-bebidas table tbody tr td button,
.table-estoque-outros table tbody tr td button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 30%;
    cursor: pointer;
    background-color: white;
    border: 1px solid #00000017;
    border-radius: 0.3rem;
    transition: 0.3s ease;
}

.table-estoque-baixo table tbody tr td button i.fa-regular.fa-trash-can,
.table-estoque-salgados table tbody tr td button i.fa-regular.fa-trash-can,
.table-estoque-folhados table tbody tr td button i.fa-regular.fa-trash-can,
.table-estoque-doces table tbody tr td button i.fa-regular.fa-trash-can,
.table-estoque-bebidas table tbody tr td button i.fa-regular.fa-trash-can,
.table-estoque-outros table tbody tr td button i.fa-regular.fa-trash-can {
    color: var(--cor-primaria);
}

.table-estoque-baixo table tbody tr td button:hover,
.table-estoque-salgados table tbody tr td button:hover,
.table-estoque-folhados table tbody tr td button:hover,
.table-estoque-doces table tbody tr td button:hover,
.table-estoque-bebidas table tbody tr td button:hover,
.table-estoque-outros table tbody tr td button:hover {
    background-color: rgba(235, 231, 231, 0.553);
}

.activeTable {
    display: flex;
}

.closeTable {
    display: none;
}

/*Modal estoque visualizar*/

.modal-overlay-estoque {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 111111111111;
    transition: opacity 0.3s ease;
}

.modal-overlay-estoque.active {
    display: flex;
}

.modal-estoque-visualizar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #0000005d;
    z-index: 111111111112;
    height: 60vh;
    width: 80vh;
    border-radius: 15px;
    gap: 0.3rem;
    padding: 1rem;
}

.modal-estoque-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    width: 95%;
}

.modal-estoque-title h1 {
    font-family: var(--font-titulo);
    font-size: 1.4rem !important;
    font-weight: 500;
}

.modal-estoque-btn-close {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 70%;
    width: 18%;
}

.modal-estoque-btn-close button {
    background-color: transparent;
    height: 80%;
    width: 23%;
}

.modal-estoque-btn-close button i:hover {
    background-color: var(--cor-laranja);
    color: white;
}

.modal-estoque-btn-close button i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 1.3rem;
    color: var(--cor-primaria);
    cursor: pointer;
    border-radius: 0.3rem;
    transition: 0.3s ease;
}

.modal-estoque-mid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35%;
    width: 95%;
}

.modal-estoque-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
    border: 1px solid rgba(0, 0, 0, 0.263);
    border-radius: 0.5rem;
    background-color: #00000019;
}

.modal-estoque-imagem img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
}

.modal-estoque-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 95%;
}

.modal-description-estoque {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 95%;
    width: 98%;
}

.modal-estoque-description-produto,
.modal-estoque-description-descrisao,
.modal-estoque-description-categoria,
.modal-estoque-description-quantidade,
.modal-estoque-description-preco,
.modal-estoque-description-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 16%;
}

.modal-estoque-description-produto-title,
.modal-estoque-description-descrisao-title,
.modal-estoque-description-categoria-title,
.modal-estoque-description-quantidade-title,
.modal-estoque-description-preco-title,
.modal-estoque-description-total-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 35%;
    height: 100%;
}

.modal-estoque-description-produto-title h1,
.modal-estoque-description-descrisao-title h1,
.modal-estoque-description-categoria-title h1,
.modal-estoque-description-quantidade-title h1,
.modal-estoque-description-preco-title h1,
.modal-estoque-description-total-title h1 {
    font-size: 1rem;
    font-family: var(--font-titulo);
}

.modal-estoque-description-produto-php,
.modal-estoque-description-descrisao-php,
.modal-estoque-description-categoria-php,
.modal-estoque-description-quantidade-php,
.modal-estoque-description-preco-php,
.modal-estoque-description-total-php {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 65%;
    height: 100%;
}

.modal-estoque-description-produto-php h2,
.modal-estoque-description-descrisao-php h2,
.modal-estoque-description-categoria-php h2,
.modal-estoque-description-quantidade-php h2,
.modal-estoque-description-preco-php h2,
.modal-estoque-description-total-php h2 {
    font-family: var(--font-titulo);
    font-size: 1rem;
}

.modal-estoque-description-descrisao-php h2 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* máximo de 2 linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    /* evita cortar palavra no meio */
    max-width: 90%;
    min-width: 90%;
    font-size: 0.8rem;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.modal-estoque-description-quantidade-php h2 {
    padding-top: 0.33rem;
    text-align: center;
    height: 65%;
    width: 6.5%;
    background-color: #00000017;
    border-radius: 100%;
}

/*Modal deletar item estoque*/

.modal-estoque-deletar-item {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #0000005d;
    z-index: 111111111112;
    height: 22vh;
    width: 70vh;
    border-radius: 15px;
    gap: 0.3rem;
    padding: 0.5rem;
}

.modal-deletar-content-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    width: 95%;
    height: 70%;
}

.modal-deletar-content-top h1 {
    font-size: 1.6rem;
    font-family: var(--font-titulo);
    font-weight: 600;
}

.modal-deletar-content-top p {
    font-family: var(--font-titulo);
    color: #0000007b;
}

.modal-deletar-content-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 95%;
    height: 25%;
    gap: 2vh;
}

.modal-deletar-content-bottom button {
    height: 100%;
    width: 20%;
    border-radius: 0.3rem;
    border: 1px solid rgba(0, 0, 0, 0.163);
    background-color: white;
    font-family: var(--font-titulo);
    font-weight: 500;
    transition: 0.3s ease;
}

.activeButtonCancelar:hover {
    background-color: var(--cor-primaria);
    color: white;
}

.activeButtonExcluir {
    background-color: var(--cor-primaria) !important;
    color: white !important;
}

.activeButtonExcluir:hover {
    background-color: #e3251be2 !important;
}


/*modal novo produto*/

.modal-novo-produto {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #0000005d;
    z-index: 9999;
    height: 70vh;
    width: 100vh;
    border-radius: 15px;
}

.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.modal-content-right,
.modal-content-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 98%;
    width: 49%;
}

/*estilos dos elementos da left*/

.modal-title {
    height: 15%;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modal-title h1 {
    font-size: var(--font-titulo);
    font-size: 2rem;
    color: #000000c2;
    font-weight: 700;
}

.modal-form-produto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
    padding: 1.5rem;
}

.form-novo-produto {
    padding: 1.8rem;
    width: 100%;
    max-width: 500px;
    font-family: var(--font-titulo);
}


.form-group {
    margin-bottom: 0.8rem;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.4rem;
    color: #333;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    font-size: 1rem;
    box-sizing: border-box;
}

.form-group button {
    width: 100%;
    padding: 0.6rem;
    background-color: var(--cor-primaria);
    color: #fff;
    border: none;
    border-radius: 0.4rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 0.5rem;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: rgb(180, 25, 25);
}

.form-control {
    cursor: pointer;
}

.form-control option {
    cursor: pointer;
}

.form-group i {
    position: absolute;
    pointer-events: none;
    /* Garante que o ícone não interfira na interação com o select */
    color: #333;
    /* Cor do ícone */
    left: 40%;
    top: 80%;
    font-size: 0.8rem;
}

/* Responsividade */
@media (max-width: 768px) {
    .form-novo-produto {
        padding: 15px;
    }

    .form-group input,
    .form-group select {
        font-size: 14px;
    }

    .form-group button {
        font-size: 14px;
    }
}


/*estilos dos elementos da right */

.btn-close-modal {
    display: flex;
    justify-content: flex-end;
    height: 10%;
    width: 95%;
}

.btn-close-modal button {
    color: var(--cor-primaria);
    font-size: 2rem;
    border: none;
    background-color: transparent;
    height: 100%;
    width: 8%;
    cursor: pointer;
}

.upload-imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    height: 90%;
}

.upload-imagem label {
    font-family: var(--font-titulo);
    font-weight: 700;
    font-size: 1rem;
}

.btn-upload {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: var(--cor-primaria);
    color: #fff;
    border-radius: 0.4rem;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-upload:hover {
    background-color: rgb(180, 25, 25);
}

.preview-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: 200px;
    border: 1px dashed #ccc;
    border-radius: 0.4rem;
    overflow: hidden;
    background-color: #f9f9f9;
}

.preview-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-remove-preview {
    position: absolute;
    top: 40%;
    right: 10.4%;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.4rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    text-align: center;
}

.btn-remove-preview h1 {
    padding-top: 0.1rem;
    font-size: 1.2rem;
}

.btn-remove-preview:hover {
    background-color: #e60000cf;
}

/* Overlay */
.overlay-editar-produto {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    z-index: 1000000000;
    transition: 0.3s ease;
}

.overlay-editar-produto.active {
    opacity: 1;
    visibility: visible;
}

/* Modal principal */
.modal-editar-produto {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    background: #fff;
    border-radius: 1rem;
    width: 50%;
    max-height: 78vh;
    overflow-y: auto;
    padding: 2.5rem;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 1000000001;
}

.modal-editar-produto.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

/* Botão X */
.btn-fechar-editar {
    position: absolute;
    top: 3%;
    right: 4%;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #666;
    transition: 0.3s ease;
}

.btn-fechar-editar:hover {
    color: var(--cor-primaria);
}

/* Título */
.editar-produto-titulo {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: left;
    font-family: var(--font-titulo);
}

/* Imagem */
.editar-produto-imagem-box {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.editar-produto-imagem-box img {
    width: 25%;
    height: 20%;
    border-radius: 0.5rem;
    object-fit: cover;
}

/* Trocar Imagem */
.editar-produto-trocar-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fafafa;
    border: 1px solid #e5e5e5;
    border-radius: 0.5rem;
    padding: 1rem 1.4rem;
    margin-bottom: 1rem;
}

.editar-produto-trocar-img h3 {
    font-family: var(--font-titulo);
    font-size: 1.6rem;
    font-weight: 500;
}

.editar-produto-trocar-img p {
    color: rgba(0, 0, 0, 0.665);
}

/* Upload */
.editar-produto-upload {
    display: none;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.editar-produto-upload input {
    width: 100%;
}

/* Oculta o input nativo */
.editar-produto-upload input[type="file"] {
    display: none;
}

/* Container lado a lado */
.upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0.7rem 0.7rem;
    width: 100%;
    box-sizing: border-box;
}

/* Botão estilizado */
.upload-label {
    background-color: var(--cor-primaria);
    color: #fff;
    padding: 0.8rem 0.8rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.9rem;
    transition: background 0.3s ease;
    white-space: nowrap;
    font-family: var(--font-titulo);
}

.upload-label i {
    padding-right: 0.3rem;
}

.upload-label:hover {
    background-color: #e3251bbc
}

/* Texto do nome do arquivo */
.upload-nome {
    font-size: 0.9rem;
    color: #333;
    flex: 1;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: var(--font-titulo);
}

/* Inputs */
.editar-produto-inputs-duplo {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.input-grupo {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.input-grupo select {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 0.95rem;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    appearance: none;
    /* remove estilo nativo */
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23e3261b' height='80' viewBox='0 0 24 24' width='80' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;
}

/* Hover no campo */
.input-grupo select:hover {
    border-color: #e3261b;
}

/* Foco */
.input-grupo select:focus {
    border-color: #e3261b;
}

.input-grupo label {
    font-size: 1rem;
    font-family: var(--font-titulo);
    font-weight: 400;
    margin-bottom: 0.3rem;
}

.input-grupo input,
.input-grupo textarea {
    border: 1px solid #d9d9d9;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: 0.95rem;
    outline: none;
    transition: 0.2s;
    font-family: var(--cor--botao-accept);
    color: #000000d7;
}

.input-grupo input:focus,
.input-grupo textarea:focus {
    border-color: var(--cor-primaria);
}

.input-grupo textarea {
    resize: none;
    height: 7rem;
}

.input-grupo.full {
    margin-bottom: 1rem;
}

/* Botões */
.editar-produto-botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.btn-cancelar-editar,
.btn-salvar-editar {
    padding: 0.7rem 1.3rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.btn-cancelar-editar {
    background: #f3f3f3;
}

.btn-salvar-editar {
    background-color: var(--cor-primaria);
    color: white;
}

.btn-cancelar-editar:hover {
    background: #e0e0e0;
}

.btn-salvar-editar:hover {
    background: #e3251be0
}

/* Switch toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--cor-primaria)
}

input:checked+.slider:before {
    transform: translateX(22px);
}

/*scrollbar*/

.modal-editar-produto::-webkit-scrollbar {
    width: 0.7rem;
}

.modal-editar-produto::-webkit-scrollbar-track {
    background: #f0f0f0;
    /* cor do fundo */
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.modal-editar-produto::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    /* cor do “botão” */
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.modal-editar-produto::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
}



/* config content*/
.container-configuracoes {
    flex-direction: column;
    height: 120vh !important;
    transform: translateY(8.5%) !important;
}

.title-configuracoes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10%;
    width: 100%;
}

.title-configuracoes-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 97%;
    height: 90%;
}

.title-configuracoes-text h1 {
    font-size: 1.8rem;
    font-family: var(--font-titulo);
    color: #000000;
    font-weight: 600;
}

.title-configuracoes-text p {
    font-size: 1.2rem;
    font-family: var(--font-titulo);
    color: #00000091;
    font-weight: 400;
}

.content-configuracoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    width: 97%;
    gap: 2vh;
}

.content-top-config,
.content-mid-config {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48%;
    width: 100%;
}

.content-top-config {
    justify-content: center !important;
}

.table-admin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.222);
    border-radius: 0.5rem;
    padding: 0 2.5rem;
    padding-top: 1rem;
    gap: 1vh;
}

.table-admin-title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10%;
    width: 100%;
}

.table-admin-title-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 97%;
    height: 90%;
}

.table-admin-title-text h1 {
    font-size: 2.2rem;
    font-family: var(--font-titulo);
    color: #000000;
    font-weight: 600;
}

.table-admin-title-text p {
    font-size: 1.2rem;
    font-family: var(--font-titulo);
    color: #00000091;
    font-weight: 400;
}

.table-admins {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 67%;
    height: 67%;
    width: 100%;
    overflow-y: auto;
}

.table-admins table {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}

.table-admins table thead {
    display: flex;
    width: 100%;
    height: 7vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.345);
}

.table-admins table thead tr {
    display: flex;
    width: 100%;
    height: 100%;
}

.table-admins table thead tr td {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    padding: 0 1.5rem;
    font-size: 1.1rem;
    color: #0000007c;
    font-family: var(--font-titulo);
    font-weight: 600;
}

.table-admins table tbody {
    display: block;
    width: 100%;
    height: 25vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 transparent;
}

.table-admins table tbody::-webkit-scrollbar-thumb {
    background-color: #d3d1d1;
    border-radius: 10px;
}

.table-admins table tbody::-webkit-scrollbar-track {
    background: transparent;
}

.table-admins table tbody tr {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 8.2vh;
    border-bottom: 1px solid #00000034;
    box-sizing: border-box;
}

.table-admins table tbody tr td {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    padding: 0 1.5rem;
    height: 100%;
    font-family: var(--font-titulo);
    gap: 1vh;
}

.table-admins table tbody tr td h6 {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-admins table tbody tr td button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 30%;
    cursor: pointer;
    background-color: white;
    border: 1px solid #00000017;
    border-radius: 0.3rem;
    transition: 0.3s ease;
}

.table-admins table tbody tr td button:hover {
    background-color: rgba(235, 231, 231, 0.553);
}

.table-admins table tbody tr td button i {
    color: black;
}

.btn-deletar-admin .fa-regular.fa-trash-can{
    color: #e3261b !important;
}

/*content-mid*/

.content-mid-config {
    justify-content: center !important;
}

.form-criar-adm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 90%;
    border: 1px solid rgba(0, 0, 0, 0.222);
    border-radius: 0.5rem;
    padding: 2.5rem;
}

.form-criar-adm-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 20%;
}

.form-criar-adm-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 20%;
}

.form-criar-adm-title-text h1 {
    font-size: 2.2rem;
    font-family: var(--font-titulo);
    color: #000000;
    font-weight: 600;
}

.form-criar-adm-title-text p{
    font-size: 1.2rem;
    font-family: var(--font-titulo);
    color: #00000091;
    font-weight: 400;
}

.form-criar-adm-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
}

.form-criar-adiminstrador {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    width: 100%;
}

.form-criar-adm-row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vh;
    align-items: center;
    min-height: 23%;
}

.form-criar-adm-row-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 23%;
}

.form-criar-adm-group-btn{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.form-criar-adm-group-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vh;
    color: white;
    background-color: #e3251bef;
    font-family: var(--font-titulo);
    font-weight: 500;
    height: 100%;
    width: 20%;
    transition: 0.3s ease;
    border-radius: 0.4rem;
    border: 1px solid rgba(0, 0, 0, 0.164);
    padding: 0.8rem;
}


.form-criar-adm-group-btn button i {
    font-size: 1.2rem;
    padding-bottom: 0.1rem;
}

.form-criar-adm-group-btn button:hover {
    background-color: #e3251bcb;
}

.form-criar-adm-group, .form-criar-adm-group-btn {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.1vw;
    padding-top: 1rem;
}

.form-criar-adm-group label,
.form-criar-adm-row>label {
    font-family: var(--font-titulo);
    font-size: 1.2rem;
    color: #000000c9;
    font-weight: 600;
}

.form-criar-adm-group input,
.form-criar-adm-row input,
select {
    width: 100%;
    padding: 14px 16px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    font-family: var(--font-titulo);
    color: #333333e9;
    background: #fafafa;
    transition: all 0.2s ease;
}

.form-criar-adm-group input:focus,
.form-criar-adm-row input:focus,
select:focus {
    outline: none;
    border-color: #e3261b;
    background: #fff;
}

/*MODAIS EDITAR, DELETAR E TROCAR SENHA ADMIN*/

/*MODAL EDITAR INFO ADMIN*/

.modal-overlay-editar-admin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10000000000000000;
}

.modal-editar-admin.active,
.modal-overlay-editar-admin.active {
  opacity: 1;
  visibility: visible;
}

.modal-editar-admin.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-editar-admin {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 65%;
    max-width: 90%;
    height: 55%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    z-index: 10000000000000001;
}

.btn-close-modal-editar-admin{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 5.5%;
    width: 2.5%;
    background-color: transparent;
    right: 2.5%;
    top: 5.5%;
    transition: 0.3s ease;
    border-radius: 0.2rem;
}

.btn-close-modal-editar-admin:hover, .btn-close-modal-editar-admin i:hover{
    background-color: var(--cor-primaria);
    color: white;
}

.btn-close-modal-editar-admin i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-primaria);
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
    transition: 0.3s ease;
    border-radius: 0.2rem;
}

.form-editar-adm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.222);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
}

.form-editar-adm-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 20%;
}

.form-editar-adm-title-text h1 {
    font-size: 2rem;
    font-family: var(--font-titulo);
    color: #000000;
    font-weight: 500;
}

.form-editar-adm-title-text p {
    font-size: 1.2rem;
    font-family: var(--font-titulo);
    color: #00000091;
    font-weight: 400;
}

.form-editar-adm-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
}

.form-editar-administrador {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    width: 100%;
}

.form-adm-row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vh;
    align-items: center;
    min-height: 23%;
}

.form-adm-row-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5vh;
    height: 100%;
    width: 100%;
}

.form-editar-adm-btn-cancelar, .form-editar-adm-btn-mandar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8vh;
    color: white;
    background-color: #e3251bef;
    font-family: var(--font-titulo);
    font-weight: 500;
    transition: 0.3s ease;
    border-radius: 0.4rem;
    border: 1px solid rgba(0, 0, 0, 0.164);
    padding: 0.8rem;
    cursor: pointer;
}


.form-editar-adm-btn-mandar i {
    font-size: 1.2rem;
    padding-bottom: 0.1vh;
}

.form-editar-adm-btn-cancelar:hover, .form-editar-adm-btn-mandar:hover {
    background-color: #e3251bcb;
}

.form-editar-adm-btn-cancelar {
    color: #333333e9 !important;
    background: #fafafa !important;
}

.form-editar-adm-btn-cancelar:hover {
    background: rgba(196, 196, 196, 0.444) !important;
}


.form-adm-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.1vw;
}

.form-adm-group label,
.form-adm-row>label {
    font-family: var(--font-titulo);
    font-size: 1rem;
    color: #000000c9;
    font-weight: 600;
}

#CPF_admin{
    color: #0000005a !important;
}

.fa-solid.fa-ban{
    position: absolute;
    top: 32.7%;
    right: 5%;
}

.form-adm-group input,
.form-adm-row input,
select {
    width: 100%;
    padding: 16px 14px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    font-family: var(--font-titulo);
    color: #333333e9;
    background: #fafafa;
    transition: all 0.2s ease;
}


.form-adm-group input:focus,
.form-adm-row input:focus,
select:focus {
    outline: none;
    border-color: #e3261b;
    background: #fff;
}

/* Estilo do select */
select {
    cursor: pointer;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23e3261b' height='80' viewBox='0 0 24 24' width='80' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 1.2rem;
}

/* Hover das opções */
select option:hover {
    background: #e3261b;
    color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
    .form-adm-row {
        flex-direction: column;
    }
}

/*form mudar senha adm*/

.modal-overlay-senha-admin{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10000000000000000;
}

.modal-senha-admin{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    width: 65%;
    max-width: 90%;
    height: 55%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    z-index: 10000000000000001;
}

.modal-senha-admin.active, .modal-overlay-senha-admin.active{
    opacity: 1;
    visibility: visible;
}

.modal-senha-admin.active{
    transform: translate(-50%, -50%) scale(1);
}

.btn-close-modal-senha-admin{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 5.5%;
    width: 2.5%;
    background-color: transparent;
    right: 3%;
    top: 7%;
    transition: 0.3s ease;
    border-radius: 0.2rem;
}

.btn-close-modal-senha-admin:hover, .btn-close-modal-senha-admin i:hover{
    background-color: var(--cor-primaria);
    color: white;
}

.btn-close-modal-senha-admin i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-primaria);
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
    transition: 0.3s ease;
    border-radius: 0.2rem;
}

.form-senha-adm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.222);
    border-radius: 0.5rem;
    padding: 2rem;
}

.form-senha-adm-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 20%;
}

.form-senha-adm-title-text h1 {
    font-size: 2rem;
    font-family: var(--font-titulo);
    color: #000000;
    font-weight: 500;
}

.form-senha-adm-title-text p {
    font-size: 1.2rem;
    font-family: var(--font-titulo);
    color: #00000091;
    font-weight: 400;
}

.form-senha-adm-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
}

.form-senha-administrador {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    width: 100%;
}

.form-senha-adm-row{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vh;
    align-items: center;
    min-height: 23%;
}

.form-senha-adm-row-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5vh;
    height: 100%;
    width: 100%;
}

.btn-cancelar-nova-senha-admin, .btn-mudar-senha-admin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8vh;
    color: white;
    background-color: #e3251bef;
    font-family: var(--font-titulo);
    font-weight: 500;
    transition: 0.3s ease;
    border-radius: 0.4rem;
    border: 1px solid rgba(0, 0, 0, 0.164);
    padding: 0.8rem;
    cursor: pointer;
}

.btn-mudar-senha-admin:hover {
    background-color: #e3251bcb;
}

.btn-cancelar-nova-senha-admin {
    color: #333333e9 !important;
    background: #fafafa !important;
}

.btn-cancelar-nova-senha-admin:hover {
    background: rgba(196, 196, 196, 0.444) !important;
}

.form-senha-adm-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.1vw;
    margin-top: 4vh;
}

.form-senha-adm-group-btn{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.form-senha-adm-group label,
.form-senha-adm-row>label {
    font-family: var(--font-titulo);
    font-size: 1rem;
    color: #000000c9;
    font-weight: 600;
}

.orm-senha-adm-group input,
.form-senha-adm-row input {
    width: 100%;
    padding: 16px 14px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    font-family: var(--font-titulo);
    color: #333333e9;
    background: #fafafa;
    transition: all 0.2s ease;
}


.orm-senha-adm-group input:focus,
.form-senha-adm-row input:focus{
    outline: none;
    border-color: #e3261b;
    background: #fff;
}

.input-wrapper {
    position: relative;
    width: 100%;
  }

  .input-wrapper input {
    width: 100%;
    padding-right: 36px;
  }

  .toggle-senha {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem;
    color: #777;
    transition: color 0.3s ease;
  }

  .toggle-senha:hover {
    color: #e3261b;
  }

  .erro-senha {
    top: 66.5%;
    position: absolute;
    color: #e3261b;
    font-size: 0.9rem;
    margin-top: 4px;
    display: none;
    font-family: var(--font-titulo);
  }

  .btn-mudar-senha-admin:disabled {
    background-color: #999;
    cursor: not-allowed;
}
