@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-primaria: #e3261b;
    --cor-secundaria: #f0a956;
    --cor-terciaria: #a1735e;
    --cor-itemdesconto: #00bf63;
    --cor-grey: #f4f4f4;
    --cor-laranja: #d6390d;
    --cor--botao-accept: #276254;
    --cor--botao-reject: #e3261b;
    --font-titulo: 'Poppins', sans-serif;
}

html{
    font-size: 16px;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: 0px;
    border: 0px;
}
/*Ajutes gerais*/


/*Navbar*/

/* NAVBAR */

.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    background-color: #f4f4f4;
    z-index: 10000;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

.nav-links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 22%;
    padding: 2em;
}

.nav-logo img{
    height: 12vh;
}

.nav-links ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links ul h1{
    font-size: 1.4rem;
    color: var(--cor-primaria);
    font-family: var(--font-titulo);
    cursor: pointer;
    font-weight: 600;
}

.nav-items{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 36%;
}

.nav-items ul{
    gap: 5vh;
}

.nav-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    height: 3vh;
    gap: 6vh;
}

.btn-user{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-user h1{
    cursor: pointer;
    color: #e3261b;
    font-size: 2rem;
    font-family: var(--font-titulo);
    font-weight: 600;
}

.btn-cart{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cart h1{
  cursor: pointer;
    color: #e3261b;
    font-size: 2rem;
    font-family: var(--font-titulo);
    font-weight: 600;
}

