@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --cor-primaria: #e3261b;
    --cor-secundaria: #f0a956;
    --cor-terciaria: #a1735e;
    --cor-cinza: #f4f4f4;
    --font-titulo: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-titulo);
    background-color: var(--cor-cinza);
}

/* NAVBAR */
.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    background-color: #f4f4f4;
    z-index: 10000;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 22%;
    padding: 2em;
}

.nav-logo img {
    height: 12vh;
}

.nav-links ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links ul h1 {
    font-size: 1.4rem;
    color: var(--cor-primaria);
    font-family: var(--font-titulo);
    cursor: pointer;
    font-weight: 600;
}

.nav-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 36%;
}

.nav-items ul {
    gap: 5vh;
}

.nav-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    height: 3vh;
    gap: 6vh;
}

.btn-user {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-user h1 {
    cursor: pointer;
    color: #e3261b;
    font-size: 2rem;
    font-family: var(--font-titulo);
    font-weight: 600;
}

.btn-cart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cart h1 {
    cursor: pointer;
    color: #e3261b;
    font-size: 2rem;
    font-family: var(--font-titulo);
    font-weight: 600;
}

main {
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container {
    width: 850px;
    height: 500px;
    display: flex;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    position: relative;
}

.form-wrapper {
    display: flex;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.image-side {
    width: 50%;
    background-image: url('../img/pudim.png');
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
}

.form-side {
    width: 50%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

.form-box {
    animation: fadeIn 0.5s ease-in-out;
    animation: slideIn 0.5s ease-in-out;
}

.hidden {
    display: none !important;
}

h2 {
    color: var(--cor-primaria);
    margin-bottom: 10px;
    font-weight: 700;
}

span {
    color: var(--cor-primaria);
}

p {
    margin-bottom: 10px;
    font-weight: 400;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    background: var(--cor-primaria);
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    margin-top: 12px;
    transition: background 0.3s;
}

button:hover {
    background: #cc0000;
}

.link {
    font-size: 14px;
    text-align: center;
    margin-top: 12px;
}

.link a {
    color: var(--cor-primaria);
    text-decoration: none;
    font-weight: 500;
}


/* Animação */
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  