@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-primaria: #e3261b;
    --cor-secundaria: #f0a956;
    --cor-terciaria: #a1735e;
    --cor-itemdesconto: #00bf63;
    --cor-grey: #f4f4f4;
    --cor-laranja: #d6390d;
    --cor--botao-accept: #276254;
    --cor--botao-reject: #e3261b;
    --font-titulo: 'Poppins', sans-serif;
}

html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: 0px;
    border: 0px;
    font-family: var(--font-titulo);
}

a{
    text-decoration: none;
    color: inherit;
}


/*Ajutes gerais*/


/*Navbar*/

/* NAVBAR */

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: white;
    z-index: 1000;
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 100%;
}

.nav-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 8vh;
    width: 20%;
    padding: 1rem;
}

.nav-links ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links ul h1 {
    font-size: 1.4rem;
    color: #000000;
    font-family: var(--font-titulo);
    cursor: pointer;
    font-weight: 400;
    transition: 0.3s ease;
}

.nav-links ul h1:hover {
    color: var(--cor-primaria);
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 100%;
}

.nav-items ul {
    gap: 5vh;
}

.nav-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    height: 3vh;
    padding: 1rem;
}

/* estilização dos botoes delogar e cadastrar*/


.btn-cadastrar-se {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-cadastrar-se button {
    font-size: 1.2rem;
    height: 4vh;
    width: 6vw;
    font-family: var(--font-titulo);
    font-weight: 500;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.76);
    border-radius: 0.4em;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.171);
    transition: 0.5s ease;
}

.btn-cadastrar-se button a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.btn-cadastrar-se button a i {
    padding-top: 0.1rem;
}

.btn-cadastrar-se button:hover {
    color: white;
    background-color: var(--cor-primaria);
}

/*botao logado*/

.btn-user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-user button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vh;
    font-size: 1.2rem;
    height: 4vh;
    width: 6vw;
    font-family: var(--font-titulo);
    font-weight: 500;
    background-color: white;
    color: rgba(0, 0, 0, 0.76);
    border-radius: 0.4em;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.171);
    transition: 0.5s ease;
}

.btn-user i {
    font-size: 1.2rem;
    color: inherit;
    cursor: pointer;
}

.btn-user button:hover {
    color: white;
    background-color: var(--cor-secundaria);
}

.btn-cart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cart button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vh;
    font-size: 1.2rem;
    height: 4vh;
    width: 8vw;
    font-family: var(--font-titulo);
    font-weight: 500;
    background-color: var(--cor-primaria);
    color: white;
    border-radius: 0.4em;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.171);
    transition: 0.5s ease;
}

.btn-cart button i {
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}

.btn-meus-pedidos button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vh;
    font-size: 1.2rem;
    height: 4vh;
    width: 10vw;
    font-family: var(--font-titulo);
    font-weight: 500;
    background-color: white;
    color: black;
    border-radius: 0.4em;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.171);
    transition: 0.5s ease;
}

.btn-meus-pedidos button i {
    font-size: 1.2rem;
    color: inherit;
    cursor: pointer;
    padding-right: 0.5rem;
}

.btn-meus-pedidos button:hover{
    background-color: var(--cor--botao-accept);
    color: white;
}

/*btn admin*/

.btn-admin button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vh;
    font-size: 1.2rem;
    height: 4vh;
    width: 8vw;
    font-family: var(--font-titulo);
    font-weight: 500;
    background-color: white;
    color: black;
    border-radius: 0.4em;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.171);
    transition: 0.5s ease;
    transform: translateX(5%);
}

.btn-admin button i {
    font-size: 1.2rem;
    color: inherit;
    cursor: pointer;
}

.btn-admin button:hover{
    background-color: var(--cor-primaria);
    color: white !important;
}


/*pop-up-user*/

.overlay-pop-up-user{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1111111111111111111111111111111111;
    transition: opacity 0.3s ease;
}

.pop-up-user {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #0000005d;
    z-index: 111111111112;
    height: 45%;
    width: 25%;
    border-radius: 15px;
    gap: 0.3rem;
    padding: 1rem;
}

.btn-fechar-pop-up-user {
    position: absolute;
    right: 4%;
    top: 3%;
    background-color: transparent;
    height: 6%;
    width: 6%;
    border-radius: 0.3rem;
    transition: 0.3s ease;
    color: #666;
}

.btn-fechar-pop-up-user:hover {
    color: white;
    background-color: var(--cor-primaria);
}

.content-pop-user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    gap: 1vh;
}

.content-top-user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 100%;
    gap: 1vh;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
}

.content-top-left-user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
}

.content-top-left-user-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.244);
    border-radius: 100%;
}

.content-top-left-user-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.content-top-right-user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 69%;
}

.content-top-right-user-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content-top-right-user-text-name {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 50%;
    width: 95%;
}

.content-top-right-user-text-name h3{
    font-size: 1.5rem;
    font-family: var(--font-titulo);
    font-weight: 500;
    width: 95%;
    white-space: nowrap;       /* impede quebrar linha */
    overflow: hidden;          /* oculta o texto extra */
    text-overflow: ellipsis;   /* adiciona os "..." */
}

.content-top-right-user-text-email{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 50%;
    width: 95%;
}

.content-top-right-user-text-email h6{
    font-size: 1rem;
    font-family: var(--font-titulo);
    color: #666;
    font-weight: 300;
    width: 95%;
    white-space: nowrap;       /* impede quebrar linha */
    overflow: hidden;          /* oculta o texto extra */
    text-overflow: ellipsis;   /* adiciona os "..." */
}

.content-mid-user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30%;
    width: 100%;
    gap: 1vh;
    padding: 0.3rem;
}

.content-mid-user-row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 49%;
    width: 100%;
}

.content-mid-user-row-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
}

.content-mid-user-row-left-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 40%;
    border-radius: 100%;
    background-color: #ff0d001b;
    transform: translateX(-10%);
}

.content-mid-user-row-left-icon i{
    font-size: 1.6rem;
    color: rgb(245, 14, 14);
    padding-top: 0.1rem;
}

.content-mid-user-row-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
}

.content-mid-user-row-right-text{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content-mid-user-row-right-text h1{
    font-size: 0.9rem;
    font-family: var(--font-titulo);
    font-weight: 300;
    color: #000000;
    width: 95%;
    white-space: nowrap;       /* impede quebrar linha */
    overflow: hidden;          /* oculta o texto extra */
    text-overflow: ellipsis;   /* adiciona os "..." */
}

.content-mid-user-row-right-text h3{
    font-size: 1.1rem;
    font-family: var(--font-titulo);
    font-weight: 500;
    width: 95%;
    white-space: nowrap;       /* impede quebrar linha */
    overflow: hidden;          /* oculta o texto extra */
    text-overflow: ellipsis;   /* adiciona os "..." */
}

.content-bottom-user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 100%;
}

.content-bottom-user-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.246);
    gap: 1vh;
}

.content-bottom-user-row button{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 35%;
    width: 100%;
    border-radius: 0.4rem;
    padding-left: 1rem;
}

.content-bottom-user-row button a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: inherit;
    font-family: var(--font-titulo);
    font-size: 1.1rem;
    font-weight: 500;
    height: 100%;
    width: 100%;
}

.content-bottom-user-row button a i{
    padding-right: 0.5rem;
    padding-bottom: 0.2rem;
}

.btn-pop-up-editar-adm{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.222);
    transition: 0.3s ease;
}

.btn-pop-up-editar-adm:hover{
    color: white;
    background-color: var(--cor-primaria);
}

.btn-logout-pop-up{
    background-color: var(--cor-primaria);
    color: white;
    transition: 0.3s ease;
    border: none;
}

.btn-logout-pop-up:hover{
    background-color: #e3251bba;
}

/*pop-up-cart*/

.pop-up-cart {
    position: fixed;
    height: 90.9%;
    width: 25%;
    top: 9%;
    right: 0;
    background-color: #ffff;
    z-index: 1000000;
    border: 1px solid rgba(0, 0, 0, 0.345);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.pop-up-cart.active {
    transform: translateX(0);
}

.content-pp-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content-pp-cart-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 25%;
    width: 95%;
}

/*botao X do cart*/
#btn-close-cart-nav {
    position: absolute;
    right: 2%;
    top: 3%;
    height: 4.3%;
    width: 8%;
    background-color: transparent;
    color: #000000;
    border: none;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    transition: 0.3s ease;
}

#btn-close-cart-nav:hover {
    background-color: #d6390df3;
    color: white;
}

#btn-bag-carrinho{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 5%;
    top: 3%;
    height: 4.3%;
    width: 30%;
    background-color: transparent;
    color: #000000;
    border: none;
    font-size: 1.5rem;
    border-radius: 0.4rem;
    transition: 0.3s ease;
    gap: 1vh;
    cursor: text;
}

#btn-bag-carrinho svg{
    color: var(--cor-primaria);
    padding-bottom: 0.5rem;
}

/*botao Clean do carrinho*/

#btn-limpar-carrinho{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.205);
    left: 5%;
    top: 12%;
    height: 4.3%;
    width: 35%;
    background-color: white;
    color: #000;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    transition: 0.3s ease;
    z-index: 1000000000;
}

#btn-limpar-carrinho.active{
    display: none;
}

#btn-limpar-carrinho i{
    color: var(--cor-primaria);
}

#btn-limpar-carrinho:hover{
    border-color: var(--cor-primaria);
}

.content-pp-cart-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 55%;
    width: 95%;
}

/*title carrinho*/

.divisao-top{
    position: absolute;
    top: 10%;
    width: 100%;
    height: 1px;
    background-color: #0000004c;
}

.cart-title {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 80%;
}

.barra-divisao {
    border-top: 1px solid rgba(0, 0, 0, 0.624);
    width: 80%;
}

.barra-divisao.active{
    display: none;
}


.cart-title h6 {
    font-size: 1.4rem;
    font-family: var(--font-titulo);
    font-weight: 600;
}

.cart-title h6.active {
    display: none;
}

/*Estrutura swiper*/

.cart-items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 95%;
}

.container-items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: white;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-width: 100%;
    min-height: 31%;
    max-height: 31%;
}

.swiper-scrollbar {
    background: rgba(0, 0, 0, 0.083);
    /* Cor da barra de rolagem */
    border-radius: 1px;
    cursor: pointer;
    min-width: 2.0%;
    max-height: 42%;
    transform: translateY(71.5%);
}


/*carrinho item*/

.carrinho-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: white;
}

.carrinho-item-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}

.carrinho-item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 95%;
    background-color: white;
}

.carrinho-item-img img {
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.235);
    border-radius: 0.4rem;
}

.carrinho-item-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 55%;
    height: 100%;
}

.carrinho-item-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50%;
    width: 90%;
}

.carrinho-item-title h3 {
    font-size: 1rem;
    font-family: var(--font-titulo);
    max-width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.carrinho-item-calc-preco {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 40%;
}

.carrinho-item-quantidade {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 40%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.235);
    border-radius: 0.5rem;
}

.carrinho-item-quantidade button {
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 30%;
    background-color: white;
    width: 2rem;
    height: 1.8rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.carrinho-item-quantidade button:hover {
    color: var(--cor-primaria);
}

.carrinho-item-quantidade .input-quantidade {
    width: 1.5rem;
    height: 100%;
    text-align: center;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.carrinho-item-preco {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 60%;
    height: 70%;
}

.carrinho-item-preco p {
    font-size: 1.2rem;
    font-weight: 400;
}

/*Price total carrinho*/

.cart-total-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.2rem;
    height: 10%;
    width: 90%;
}

.cart-total-price h5 {
    font-size: 1.4rem;
    font-family: var(--font-titulo);
    color: #000000d1;

}

.cart-total-price h5.active,
.cart-total-price h6.active{
    display: none;
}

.cart-total-price h6 {
    font-size: 1.3rem;
    font-family: var(--font-titulo);
}


/*Finalizar button carrinho*/

.finalizar-pedido {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 95%;
}

.finalizar-pedido button {
    border: 1px solid rgba(0, 0, 0, 0.312);
    background-color: #e3261b;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    height: 60%;
    width: 95%;
    border-radius: 0.8rem;
    transition: 0.3s ease;
}

.finalizar-pedido button.active{
    display: none;
}


.finalizar-pedido button:hover{
    background-color: #e3251be2;
}

/*carrinho-vazio*/

.carrinho-vazio{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    padding: 1rem;
}

.carrinho-vazio-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.carrinho-vazio-content-top,
.carrinho-vazio-content-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    width: 100%;
}

.carrinho-vazio-content-top-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 45%;
    border-radius: 100%;
    background-color: #00000008;
}

.carrinho-vazio-content-top-icon i{
    font-size: 3.5rem;
    color: #666;
}

.carrinho-vazio-content-bottom-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.carrinho-vazio-content-bottom-text h1{
    font-size: 1.6rem;
    font-family: var(--font-titulo);
}

.carrinho-vazio-content-bottom-text p{
    font-size: 0.9rem;
    text-align: center;
    color: #666;
    font-family: var(--font-titulo);
}

/*Modal alert*/

.container-modal-alert {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #0000005d;
    z-index: 9999;
    height: 50vh;
    width: 70vh;
    border-radius: 15px;
}

.modal-overlay {
  display: none; /* Inicialmente escondido */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
  z-index: 9998; /* Abaixo do modal */
  transition: opacity 0.3s ease;
}

.modal-overlay.active, .container-modal-alert.active {
  display: flex; /* Exibe o overlay */
  opacity: 1;
}

.content-modal-alert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 95%;
}

.btnSair-modal-alert {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 15%;
    width: 100%;
}

.btnSair-modal-alert button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 5.5%;
    border-radius: 50%;
    background-color: var(--cor-primaria);
    color: white;
    font-size: 1.4rem;
    transition: 0.3s ease;
    padding-bottom: 0.3rem;
}

.btnSair-modal-alert button i{
    padding-top: 10%;
}

.btnSair-modal-alert button:hover{
    background-color: #e3251bb6;
}

.title-modal-alert {
    height: 30%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    text-align: center;
}

.title-modal-alert h1 {
    font-family: var(--font-titulo);
    font-size: 2rem;
    color: #000000c2;
    font-weight: 700;
    padding-top: 20%;
}


.title-modal-alert i{
    position: absolute;
    top: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: white;
    background-color: var(--cor-primaria);
    height: 20%;
    width: 15%;
    border-radius: 50%;
    font-weight: 700;
}

.description-modal-alert{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 25%;
    max-width: 80%;
}

.description-modal-alert p{
    font-size: 1.2rem;
    font-family: var(--font-titulo);
}

.btn-modal-alert {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 95%;
    flex-direction: column;
    gap: 2vh;
}

.btn-modal-alert a{
    text-align: center;
    padding: 0.3rem;
    height: 45%;
    width: 80%;
    border-radius: 1.5vh;
    background-color: var(--cor-primaria);
    color: white;
    font-family: var(--font-titulo);
    font-size: 2rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn-modal-alert a:hover{
    background-color: #e3251bb6;
}


/*Main - Carousel e MP*/

/*Carousel*/

.Espaco-navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 14vh;
    width: 100%;
    background-color: white;
    transform: translateY(-20%);
    overflow: hidden;
}

.container-carousel {
    position: relative;
    left: 5%;
    width: 90%;
    height: 70vh;
    border-radius: 2rem;
}

.container-carousel img {
    width: 100%;
    height: 65vh;
    object-fit: cover;
    border-radius: 2rem;
}

#carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    transform: translateY(-10%);
}

.title-carousel,
.title-carousel-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40%;
    gap: 0.2vw;
}

.title-carousel h1 {
    font-size: 4rem;
    font-weight: 700;
    font-family: var(--font-titulo);
}

.title-carousel-2 h1 {
    font-size: 4rem;
    font-weight: 700;
    font-family: var(--font-titulo);
}

.title-carousel-2 h5 {
    font-size: 1.6rem;
    color: var(--cor-primaria);
    font-family: var(--font-titulo);
}

.title-carousel h5 {
    font-size: 1.6rem;
    color: var(--cor-secundaria);
    font-family: var(--font-titulo);
}

.description-carousel,
.description-carousel-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40%;
}

.description-carousel-2 p {
    font-size: 1.5rem;
    font-family: var(--font-titulo);
}

.description-carousel p {
    font-size: 1.5rem;
    font-family: var(--font-titulo);
}

.btn-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    height: 20%;
}

.btn-carousel button {
    font-size: 1.2rem;
    height: 4vh;
    width: 8vw;
    font-family: var(--font-titulo);
    font-weight: 500;
    background-color: #f7f7f7;
    color: rgba(0, 0, 0, 0.76);
    border-radius: 0.4em;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.171);
    transition: 0.5s ease;
}

.btn-1-carousel:hover {
    background-color: var(--cor-secundaria);
}

.btn-2-carousel:hover {
    background-color: var(--cor-primaria);
    color: white;
}

.btn-3-carousel:hover {
    background-color: var(--cor-primaria);
    color: white;
}

.btn-carousel button a {
    color: inherit;
    text-decoration: none;
}

.custom-indicators {
    position: absolute;
    display: flex;
    gap: 0.2vh;
}

#a {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffffff;
    border: none;
    transition: 0.3s;
}

.custom-indicators .active {
    background-color: #000;
    /* cor da bolinha ativa */
}

.carousel-controls-bottom {
    position: absolute;
    display: flex;
    gap: 169.2vh;
    top: 50%;
    left: 1%;
}

.carousel-control-prev,
.carousel-control-next {
    position: static;
    width: auto;
    height: auto;
    background: #ffffff;
    border-radius: 50%;
    padding: 5px;
    transition: 0.3s;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background: rgb(255, 255, 255);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
    /* deixa os ícones brancos */
}

.carousel-item {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.carousel-item.active {
    opacity: 1;
    transform: scale(1);
}


/*Info cards*/

.container-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 55vh;
    width: 100%;
    background-color: #ffffff;
}

.title-container-info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 95%;
}

.title-container-info h1 {
    font-family: var(--font-titulo);
    font-weight: 600;
    font-size: 1.8rem;
}

.content-info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 95%;
    gap: 6vh;
}

.cards-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70%;
    width: 25%;
    border-radius: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.368);
    transition: 0.5s ease;
}

.icon-cards-info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 95%;
}

.icon-cards-info i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 14%;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

.title-cards-info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 95%;
}

.title-cards-info h1 {
    font-family: var(--font-titulo);
    font-size: 1.6rem;
}

.description-cards-info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 75%;
    text-align: center;
}

.description-cards-info p {
    font-family: var(--font-titulo);
    font-size: 1rem;
}

/*Mais Pedidos*/

.container-mais-pedidos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    background-color: var(--cor-primaria);
}

.title-container-mp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 0.3vw;
    width: 95%;
    height: 30%;
}

.title-container-mp h1 {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    font-family: var(--font-titulo);
}

.title-container-mp h5 {
    max-width: 60%;
    font-size: 1.6rem;
    font-weight: 400;
    color: white;
    font-family: var(--font-titulo);
}

.content-mais-pedidos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
    border: 1px solidA;
}

.carrosel-mais-pedidos {
    overflow: hidden;
    width: 80%;
    padding-right: 3%;
    min-height: calc(100% + 5vh);
    padding-top: 5%;
}

.carrousel-track-mais-pedidos {
    display: flex;
    transition: transform 0.5s ease;
    gap: 3vh;
}

.carrousel-item-mp {
    flex: 0 0 33.3333%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: white;
    border-radius: 1rem;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: scale(0.8);
    opacity: 0.6;
}

.carrousel-item-mp.active {
    transform: scale(1.2);
    opacity: 1;
    height: 33vh;
    border-radius: 2.5rem;
}


.cards-mp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: transform 0.4s ease;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.171);
    background-color: white;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.cards-img-mp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 1rem;
}

.cards-img-mp img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.cards-title-mp {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 15%;
    width: 100%;
    padding: 1rem;
}

.cards-priceEbtn-mp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25%;
    width: 100%;
    padding: 1rem;
}

.cards-priceEbtn-mp h4 {
    font-size: 1.6rem;
    font-family: var(--font-titulo);
    color: #000000b5;
    font-weight: 600;
}

.cards-priceEbtn-mp button {
    font-size: 1.2rem;
    font-family: var(--font-titulo);
    background-color: var(--cor--botao-accept);
    color: white;
    border-radius: 50%;
    height: 80%;
    width: 9%;
    font-weight: 600;
    transition: 0.3s ease;
}

.cards-priceEbtn-mp button:hover{
    background-color: #276254b2;
}


.botao-left-mp,
.botao-right-mp {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    border: none;
    cursor: pointer;
    z-index: 1;
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    position: relative;
    top: -10%;
    transition: 0.3s ease;
}

.botao-left-mp:hover,
.botao-right-mp:hover{
    background-color: #00000062;
    color: white;
}

.botao-left-mp h1 {
    padding-top: 30%;
    padding-right: 10%;
    font-family: var(--font-titulo);
    font-size: 1.8rem;
}

.botao-right-mp h1{
    padding-top: 30%;
    font-family: var(--font-titulo);
    font-size: 1.8rem;
}

.item-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.item-conteudo img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.item-conteudo p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
}


/*Cardapio*/

.container-cardapio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 85vh;
    width: 100%;
    background-color: #f7f7f7;
    ;
}

.title-cardapio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30%;
    width: 95%;
    text-align: center;
}

.title-cardapio h1 {
    font-family: var(--font-titulo);
    font-weight: 700;
    font-size: 3rem;
    color: #000000c0;
}

.title-cardapio p {
    max-width: 65%;
    font-family: var(--font-titulo);
    font-weight: 400;
    font-size: 1.6rem;
    color: #00000085;
}

.options-cardapio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    height: 7%;
    width: 50%;
    background-color: white;
    border-radius: 1rem;
}

.title-options {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1vh;
}

.title-options button {
    font-size: 1.3rem;
    font-family: var(--font-titulo);
    font-weight: 500;
    height: 80%;
    width: 18%;
    background-color: inherit;
    transition: 0.3s ease;
    border-radius: 1rem;
}

.title-options button:hover {
    color: white;
    background-color: var(--cor--botao-accept);
    border-radius: 1rem;
    cursor: pointer;
}

.btn-option.active {
    background-color: var(--cor--botao-accept);
    color: white;
}

.content-cardapio {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 95%;
}

.content-cardapio-options {
    display: none;
    /* Esconde tudo inicialmente */
    align-items: center;
    justify-content: center;
    position: relative;
    height: 80%;
    width: 90%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px 0;
    gap: 5vh;
}

.content-cardapio-options h1 {
    color: white;
}


.content-cardapio-options.active {
    display: flex;
}

.cards-salgados,
.cards-folhados,
.cards-bebidas,
.cards-doces,
.cards-outros {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: transform 0.4s ease;
    width: 30%;
    height: 90%;
    border: 1px solid rgba(0, 0, 0, 0.171);
    background-color: white;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.cards-salgados:hover,
.cards-folhados:hover,
.cards-bebidas:hover,
.cards-doces:hover,
.cards-outros:hover{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.113);
}

.cards-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 1rem;
}

.cards-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.img-folhados {
    height: 100%;
    width: 100%;
    object-position: center 80%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.cards-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 15%;
    width: 100%;
    padding: 1rem;
}

.cards-priceEbtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25%;
    width: 100%;
    padding: 1rem;
}

.cards-priceEbtn h4 {
    font-size: 1.6rem;
    font-family: var(--font-titulo);
    color: #000000b5;
    font-weight: 600;
}

.cards-priceEbtn button {
    font-size: 1.2rem;
    font-family: var(--font-titulo);
    background-color: var(--cor--botao-accept);
    color: white;
    border-radius: 50%;
    height: 80%;
    width: 9%;
    font-weight: 600;
    transition: 0.3s ease;
}

.cards-priceEbtn button:hover{
    background-color: #276254cf;
}

/*Section Sobre Nós*/

.container-divisao-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
}

.divisao-cardapio-2 {
    height: 3px;
    width: 80%;
    background-color: #cbc9c9;
}

.container-sobreNos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    flex-direction: column;
}

.content-tittle-sobreNos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 70%;
    background-color: #e3261b;
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
}

.content-tittle-sobreNos h1 {
    font-family: var(--font-titulo);
    font-weight: 800;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 3rem;
}

.content-sobreNos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 70%;
    background-color: #e3261b;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
}

.content-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 90%;
    width: 30%;
}

.content-left-tittle {
    height: 38%;
    width: 70%;
}

.content-left-tittle h1 {
    color: white;
    font-family: var(--font-titulo);
    font-weight: 800;
    font-size: 3em;
}

.content-left-description {
    height: 20%;
    width: 70%;
}

.content-left-description p {
    color: white;
    font-family: var(--font-titulo);
    font-weight: 400;
    font-size: 1.2rem;
}

.content-left-btn {
    display: flex;
    height: 42%;
    width: 70%;
}

.content-left-btn button {
    font-size: 1.6rem;
    background-color: #276254;
    color: white;
    font-family: var(--font-titulo);
    width: 70%;
    height: 20%;
    border-radius: 0.5em;
    cursor: pointer;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90%;
    width: 70%;
}

.movie {
    height: 100%;
    width: 90%;
}

/*Avaliacoes*/

.tittle-avaliacoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    width: 100%;
    text-align: center;
}

.tittle-avaliacoes h1 {
    font-size: 3rem;
    font-family: var(--font-titulo);
    color: rgba(0, 0, 0, 0.831);
    font-weight: 700;
}

.tittle-avaliacoes p {
    max-width: 70%;
    font-size: 1.4rem;
    font-family: var(--font-titulo);
    color: #000000a7;
    font-weight: 500;
}

.container-avaliacoes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
    width: 100%;
    margin-bottom: 10vh;
}

.content-avaliacoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 95%;
    width: 100%;
}

.content-avaliacoes-top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 30%;
    width: 90%;
    gap: 3vh;
    padding-bottom: 5%;
}

.item-avaliacao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 95%;
    width: 30%;
}

.nota-avaliacao {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 100%;
}

.nota-avaliacao h1 {
    font-size: 3.8rem;
    color: var(--cor-primaria);
    font-family: var(--font-titulo);
    font-weight: 700;
}

.stars-avaliacao i {
    color: rgb(219, 219, 36);
}

.item-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
}

.item-title h2 {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.631);
    font-family: var(--font-titulo);
    font-weight: 400;
}

.numero-avaliacao,
.numero-avaliacao-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 100%;
    gap: 1vh;
    padding-bottom: 3vh;
}

.numero-avaliacao h1 {
    font-size: 3.8rem;
    color: var(--cor-secundaria);
    font-family: var(--font-titulo);
    font-weight: 700;
}

.numero-avaliacao-2 h1 {
    font-size: 3.8rem;
    color: var(--cor-itemdesconto);
    font-family: var(--font-titulo);
    font-weight: 700;
}

.item-avaliacao-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
}

.item-avaliacao h2 {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.631);
    font-family: var(--font-titulo);
    font-weight: 400;
}

.content-avaliacoes-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 90%;
    flex-direction: column;
    gap: 3vh;
}

.row-cards-avaliacao {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 90%;
    gap: 3vh;
}

.cards-avaliacao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
    border-radius: 0.4rem;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.267);
}

.cards-avaliacao:hover {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.199);
    /* Suave e discreto */
}

.cards-avaliacao-top{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 45%;
}

.icon-user-avaliacao{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15%;
}

.icon-user-avaliacao i{
    font-size: 3rem;
}

.title-user-info{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 65%;
    height: 100%;
    padding: 1rem;
}

.title-user-info h1{
    font-size: 1.4rem;
    font-weight: 500;
}

.title-user-info p{
    height: 20%;
    font-size: 1.2rem;
    color: #0000007c;
}

.icon-avaliacao{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
}

.icon-avaliacao i{
    font-size: 2rem;
    color: #e3251b49;
}

.cards-avaliacao-mid{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 10%;
}

.stars-avaliacao-2{
    display: flex;
    color: rgb(226, 208, 43);
}

.cards-avaliacao-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 45%;
}

.description-avaliacao p{
    font-family: var(--font-titulo);
    color: #00000079;
}



/*Footer*/

.container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    width: 100%;
    margin-top: 5vh;
    border-top: 1px solid rgba(0, 0, 0, 0.151);
}

.content-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 95%;
}

.content-top-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 95%;
}

.content-bottom-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
    width: 100%;
    margin-top: 2vh;
    border-top: 1px solid #00000042;
}

.item-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    height: 100%;
}

.info-cantina-img{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40%;
    width: 100%;
}

.info-cantina-img img{
    transform: translateX(-5%);
    object-fit: cover;
    height: 200%;
}

.info-cantina-description{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40%;
    width: 100%;
}

.info-cantina-description p{
    font-size: 1.1rem;
    font-family: var(--font-titulo);
    font-weight: 400;
    color:  #00000098;
}

.info-icon{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30%;
    width: 100%;
    gap: 2vh;
    text-align: center;
}


.info-icon i{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    color: white;
    border-radius: 50%;
    height: 60%;
    width: 11%;
    background-color: var(--cor-primaria);
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.info-icon i:hover{
    background-color: #e3251bca;
}

.title-footer-links{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40%;
    width: 100%;
    padding-left: 15vh;
}

.title-footer-links h1{
    font-size: 1.6rem;
    font-family: var(--font-titulo);
    color: #000000c7;
}

.footer-links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60%;
    width: 30%;
}

.footer-links ul{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    list-style: none;
    padding: 1rem;
}

.footer-links ul li h6{
    width: 100%;
    font-size: 1.2rem;
    font-family: var(--font-titulo);
    color:  #00000098;
    cursor: pointer;
    transition: 0.3s ease;
}

.footer-links ul li h6 a{
    text-decoration: none;
    color: inherit;
}

.footer-links ul li h6:hover{
    transform: scale(1.05);
    color: var(--cor-primaria);
}

.footer-links-local{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60%;
    width: 100%;
}

.footer-links-local ul{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    list-style: none;
    padding: 1rem;
}

.footer-links-local ul li h6{
    display: flex;
    padding-left: 14vh;
    gap: 1vh;
    width: 100%;
    font-size: 1.1rem;
    font-family: var(--font-titulo);
    color:  #00000098;
    cursor: pointer;
    transition: 0.3s ease;
}

.footer-links-local ul li h6:hover{
    transform: scale(1.05);
    color: var(--cor-primaria);
}

.title-footer-bottom{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    height: 100%;
}

.title-footer-bottom-2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 70%;
    height: 100%;
    gap: 4vh;
}

.title-footer-bottom h1{
    font-size: 1.2rem;
    color:  #00000098;
    text-decoration: none;
    font-family: var(--font-titulo);
}

.title-footer-bottom a, .title-footer-bottom-2 h1, .title-footer-bottom-2 a{
    font-size: 1.2rem;
    color:  #00000098;
    text-decoration: none;
    font-family: var(--font-titulo);
    cursor: pointer;
}

.title-footer-bottom a:hover,
 .title-footer-bottom-2 h1:hover,
 .title-footer-bottom-2 a:hover{
    color: var(--cor-primaria);
 }