/* Arquivo: pedido.css */

/* Sets padrões */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-primaria: #ff4d69;
    --cor-titulo: #ffa100;
    --cor--botao-accept: #93c293;
    --cor--botao-reject: #dd3e56;
    --font-titulo: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/*Header - Navbar*/

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6vh;
    background-color:  var(--cor-primaria);
}

/*Btn "minha conta" */

.nav-account {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 5vw;
    padding-left: 1rem;
}

.btn-nav-account {
    height: 5vh;
    width: 5vw;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-nav-account i {
    font-size: 2rem;
    color: #ffffff;
}

/*pop up*/

.popup { 
  position: absolute;
  top: 7vh;
  left: 2vh;
  height: 23vh;
  width: 15vw;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  display: none;
  z-index: 100000;
}

.popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.popup ul li {
  margin: 0.5rem 0;
}

.popup ul li a {
  text-decoration: none;
  color: black;
  font-family: var(--font-titulo);
}

.btn-popup-logout{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    width: 7vw;
    background-color: var(--cor--botao-reject);
    border-radius: 1.8vh;
    color: black;
    text-decoration: none;
    font-family: var(--font-titulo);
    font-size: 1.2vw;
    border: 1px solid black;
    gap: 1vh;
    cursor: pointer;
}

/* "Restante da navbar" */

.nav-logo{
    width: 1vw;
    display: flex;
}

.nav-links{
    display: flex;
    list-style: none;
    padding-right: 5vh;
    gap: 1vh;
}

.btn-nav-1, .btn-nav-2, .btn-nav-3{
    border: none;
    height: 2.5vh;
    width: 1.5vw;
    border-radius: 1.8vh;
}

/*Main*/
 
/*Pedido styles*/

.pedido-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
    width: 100%;
}

.pedido-titulo h1{
    font-family: var(--font-titulo);
    font-size: 3vw;
    color: black;
    height: 6vh;
}

.pedido-body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100%;
}

.pedido-body-left, .pedido-body-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 40vh;
    gap: 3vh;
}

.pedido-img-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    border-radius: 100px;
    height: 25vh;
    background-color: var(--cor-titulo);
}

.pedido-img-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    border-radius: 20vh;
    height: 25vh;
    background-color:  var(--cor-primaria);
}

.pedido-img-left img, .pedido-img-right img{
    width: 10vw;
    height: 17vh;
    border-radius: 1vh;
}


.pedido-btn-left, .pedido-btn-right{
    border: 2px solid;
    border-color: green;
    height: 8vh;
    width: 15vw;
    border-radius: 1.8vh;
    font-family: var(--font-titulo);
    font-size: 1.6vw;
    background-color: var(--cor--botao-accept);
}

.pedido-btn-left a, .pedido-btn-right a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
    max-width: 100%;
}


